<%= link_to path, target: "_blank" do %>
  <li class="card card--item card--hover flex justify-between overflow-visible line-height-3">
    <span>
      <strong><%= name %></strong>
      <% if (defined? external) && external %>
        <%= inline_icon 'external', size: 20, class: 'muted', 'aria-label': "External link to #{name}" %>
      <% end %> 
    </span>
    <% if defined? count %>
      <span class="badge pr2 <%= count > 0 && !((defined? info) && info) ? 'bg-accent' : 'bg-muted' %>"><%= count %></span>
    <% end %>
  </li>
<% end %>
