<% title 'Home' %>
<% page_md %>

<%= render 'users/nav' if signed_in? %>

<h1 class="heading items-center md-items-baseline justify-center md-justify-between center md-left-align w-100">
  <div>
    <span class="h3 caps secondary block">Welcome to</span>
    <span class="primary">Hack&nbsp;Club Bank</span>
  </div>
  <span class="badge ml0 h5 caps"><%= random_nickname.html_safe %></span>
</h1>

<main class="flex flex-column items-center center pb3">
  <% if signed_in? %>
    <% if @events.any? %>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @events.not_hidden.each do |event| %>
          <%= link_to event do %>
            <li class="card card--hover flex flex-column justify-between">
              <strong class="brand-sans h3 line-height-2 mb1"><%= event.name %></strong>
              <div class="avatar-row">
                <% event.organizer_positions.each do |position| %>
                  <%= avatar_for position.user, 24 %>
                <% end %>
              </div>
            </li>
          <% end %>
        <% end %>
        <a href="https://airtable.com/shrp79oRXlWT025j8?prefill_Have%20you%20used%20Hack%20Club%20Bank%20for%20any%20previous%20projects?=Yes,%20I%20have%20used%20Hack%20Club%20Bank%20before&prefill_First+Name=<%= current_user.first_name %>&prefill_Last+Name=<%= current_user.last_name %>&prefill_Email+Address=<%= current_user.email %>">
          <li class="card card--hover bold brand-sans flex items-center align-center">
            <span class="pop success mr1">
              <%= inline_icon 'plus', size: 28 %>
            </span>
            New project
          </li>
        </a>
      </ul>

      <% if @events.hidden.any? %>
        <details class="w-100 left-align">
          <summary><h3 class="inline-block pb0 border-none">Hidden projects</h3></summary>
          <ul class="grid grid--narrow left-align mt0">
            <% @events.hidden.each do |event| %>
              <%= link_to event do %>
                <li class="card card--hover flex flex-column justify-between">
                  <strong class="h3 line-height-2 mb1"><%= event.name %></strong>
                  <div class="avatar-row">
                    <% event.organizer_positions.each do |position| %>
                      <%= avatar_for position.user, 24 %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </details>
      <% end %>

    <% end %>
    <% if @invites.any? %>
      <h2 class="w-100 left-align mt3 pb0 border-none">Your pending invitations</h2>
      <ul class="grid grid--narrow left-align w-100 mt0">
        <% @invites.each do |invite| %>
          <%= link_to invite do %>
            <li class="card card--item">
              <%= status_badge 'info' %>
              <strong><%= invite.event.name %></strong>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if @events.empty? && @invites.empty? && !current_user.admin? %>
      <%= blankslate 'No projects associated with your account yet.' %>
      <a href="https://airtable.com/shrW33gWaPnSDBhYj?prefill_Have%20you%20used%20Hack%20Club%20Bank%20for%20any%20previous%20projects?=No,%20first%20time!&prefill_First+Name=<%= current_user.first_name %>&prefill_Last+Name=<%= current_user.last_name %>&prefill_Email+Address=<%= current_user.email %>" class="btn bg-success">
        <%= inline_icon 'plus' %>
        New project
      </a>
    <% end %>
  <% end %>

  <% admin_tools('w-100 center mt3') do %>
    <ul class="grid left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { path: events_admin_index_path, name: 'Organizations', count: Event.pending.count } %>
      <%= render partial: 'static_pages/card', locals: { path: users_admin_index_path, name: 'Users' } %>
      <%= render partial: 'static_pages/card', locals: { path: admin_search_path, name: 'Search by user' } %>
      <%= render partial: 'static_pages/card', locals: { path: 'https://www.expensify.com/reports', name: "Expensify" } %>
      <%= render partial: 'static_pages/card', locals: { path: 'https://www.svbconnect.com/auth/', name: "Silicon Valley Bank" } %>
      <%= render partial: 'static_pages/card', locals: { path: 'https://www.frcorporateonline.com/wcmfd/wcmpw/CustomerLogin', name: "First Republic Bank" } %>
    </ul>

    <h2>Daily Tasks</h2>
    <ul class="grid left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { path: ledger_admin_index_path, name: 'Ledger', count: CanonicalTransaction.not_stripe_top_up.unmapped.count } %>
      <%= render partial: 'static_pages/card', locals: { path: ach_admin_index_path, name: 'ACH', count: AchTransfer.pending.count } %>
      <%= render partial: 'static_pages/card', locals: { path: check_admin_index_path, name: 'Checks', count: Check.in_transit.count } %>
      <%= react_component 'admin_task/Card', human_name: 'Wires', task_name: :wire_transfers, task_path: link_to_airtable_task(:wire_transfers) %> 
      <%= render partial: 'static_pages/card', locals: { path: google_workspaces_admin_index_path, name: 'Google Workspaces', count: GSuite.needs_ops_review.count } %>
      <%= render partial: 'static_pages/card', locals: { path: organizer_position_deletion_requests_path, name: 'Deletion requests', count: @service.organizer_position_deletion_requests_count } %>
      <%= render partial: 'static_pages/card', locals: { path: disbursement_new_admin_index_path, name: 'New Disbursement' } %>
    </ul>
      
    <h2>Perks Tasks</h2>
    <ul class="grid left-align w-100 mt0">
      <%= react_component 'admin_task/Card', human_name: 'Hackathons', task_name: :pending_hackathons_airtable, task_path: link_to_airtable_task(:hackathons) %>
      <%= react_component 'admin_task/Card', human_name: 'StickerMule', task_name: :pending_stickermule_airtable, task_path: link_to_airtable_task(:stickermule) %>
      <%= react_component 'admin_task/Card', human_name: 'repl.it', task_name: :pending_replit_airtable, task_path: link_to_airtable_task(:replit) %>
      <%= react_component 'admin_task/Card', human_name: 'Sendy', task_name: :pending_sendy_airtable, task_path: link_to_airtable_task(:sendy) %>
      <%= react_component 'admin_task/Card', human_name: 'PVSA', task_name: :pending_pvsa_airtable, task_path: link_to_airtable_task(:pvsa) %>
      <%= react_component 'admin_task/Card', human_name: 'Grants', task_name: :pending_grant_airtable, task_path: link_to_airtable_task(:grant) %>
    </ul>

    <h2>Information</h2>
    <ul class="grid left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { path: disbursements_admin_index_path, name: 'Disbursements', count: Disbursement.pending.count, info: true } %>
      <%= render partial: 'static_pages/card', locals: { path: pending_ledger_admin_index_path, name: 'Pending Ledger', count: CanonicalPendingTransaction.unsettled.count, info: true } %>
      <%= render partial: 'static_pages/card', locals: { path: bank_fees_admin_index_path, name: 'Bank Fees', count: BankFee.in_transit_or_pending.count, info: true } %>
      <%= render partial: 'static_pages/card', locals: { path: donations_admin_index_path, name: 'Donations' } %>
      <%= render partial: 'static_pages/card', locals: { path: invoices_admin_index_path, name: 'Invoices' } %>
      <%= render partial: 'static_pages/card', locals: { path: sponsors_admin_index_path, name: 'Sponsors' } %>
      <%= render partial: 'static_pages/card', locals: { path: hcb_codes_admin_index_path, name: 'HCB Codes' } %>
      <%= render partial: 'static_pages/card', locals: { path: raw_transactions_admin_index_path, name: 'Raw Transactions' } %>
      <%= render partial: 'static_pages/card', locals: { path: hashed_transactions_admin_index_path, name: 'Hashed Transactions' } %>
      <%= render partial: 'static_pages/card', locals: { path: stripe_authorizations_path, name: 'Stripe Transactions' } %>
      <%= render partial: 'static_pages/card', locals: { path: negative_events_path, name: 'Negative Organizations', count: Event.negatives.count, info: true } %>
      <%= render partial: 'static_pages/card', locals: { path: bank_accounts_admin_index_path, name: 'Bank Accounts', count: BankAccount.failing.count } %>
      <%= render partial: 'static_pages/card', locals: { path: bookkeeping_path, name: 'Bookkeeping' } %>
    </ul>
    
    <h2>Other Tools</h2>
    <ul class="grid left-align w-100 mt0">
      <%= render partial: 'static_pages/card', locals: { path: common_documents_path, name: 'Common Documents' } %>
      <%= render partial: 'static_pages/card', locals: { path: new_bank_account_path, name: 'Setup HCB' } %>
      <%= render partial: 'static_pages/card', locals: { path: blazer_path, name: 'Blazer (BI tool)' } %>
    </ul>
    <p>
      <%= content_tag :strong, render_money(@transaction_volume) %>
      in transactions & counting…
    </p>
  <% end %>
</main>
