<%= form_with(model: @spending_allowance, local: true) do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount_cents, placeholder: "500.00", required: true, step: 0.01, onkeydown: "event.key == 'Enter' && event.target.form.requestSubmit()" %>
  </div>

  <div class="field">
    <%= form.label :memo, "Memo" %>
    <%= form.text_field :memo, placeholder: "Lunch during layover at SFO", required: true, data: { "expense-form-target": "field memoField", "action": "dblclick->expense-form#edit" }, onkeydown: "event.key == 'Enter' && event.target.form.requestSubmit()" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
