<% title "Announcements for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :announcements %>

<h1 class="heading">
  <span class="flex flex-grow items-center">Announcements</span>

  <% if organizer_signed_in?(as: :manager) %>
    <%= link_to new_event_announcement_path(event_id: @event.slug), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create_announcement" } do %>
      <%= inline_icon "plus" %>
      Create
    <% end %>
  <% end %>
</h1>

<div class="flex flex-col gap-2">
  <% @announcements.each do |announcement| %>
    <%= render partial: "announcement_card", locals: { announcement: } %>
  <% end %>
</div>

<% if organizer_signed_in? %>
  <%= render "announcement_modal" %>
<% end %>
