<% item_user = item.is_a?(OrganizerPosition::Spending::Allowance) ? item.authorized_by.user : item.stripe_cardholder.user %>

<tr class="<%= item.is_a?(OrganizerPosition::Spending::Allowance) ? "transaction--positive" : "transaction--negative" %>">
    <td><%= format_date(item.created_at) %></td>
    <td style="max-width: 400px; overflow: hidden; text-overflow: elipsis;"><%= item.memo %></td>
    <td class="flex items-center g1">
        <%= avatar_for item_user, 24 %>
        <%= item_user.name %>
    </td>
    <td><%= render_money item.amount_cents %></td>
</tr>
