<% title @report.name %>
<% page_md %>
<%= render "events/nav", selected: :reimbursements unless @use_user_nav %>
<%= render "users/nav", selected: :reimbursements if @use_user_nav %>

<div class="mt4">
    <h3 class="mt2 mb1 muted flex" style="font-weight: 400; gap: 4px;">
      <span style="flex-grow: 1;">
        <%= user_mention @user, class: "tooltipped--s align-top" %>
        <%= "will be reimbursed " if @report.reimbursement_approved? %>
        <%= "was reimbursed " if @report.reimbursed? %>
        <%= "requested " if @report.rejected? %>
        <%= "is requesting " unless @report.closed? %>
        <%= render "total", report: @report %>
        <%= "from #{@event.name}" if @use_user_nav %> for
      </span>
      <span class="ml0 badge bg-<%= @report.status_color %>"><%= @report.status_text %></span>
      <% if !@report.closed? %>
        <%= link_to "#", class: "ml0 badge bg-info text-decoration-none", data: { behavior: "modal_trigger", modal: "edit" } do %>
          Edit Details
        <% end %>
      <% end %>
    </h3>
    <h2 class="heading mt0 mb1 flex">
      <span style="flex-grow: 1;"><%= @report.name %></span>
    </h2>
</div>

<section data-behavior="modal" role="dialog" id="edit" class="modal modal--scroll bg-snow">
  <%= modal_header "Edit Report" %>
  <%= render "edit_form" %>
</section>

<section data-behavior="modal" role="dialog" id="request_changes" class="modal modal--scroll bg-snow">
  <%= modal_header "Request Changes" %>
  <%= form_with url: reimbursement_report_request_changes_path(report_id: @report.id), model: [@report, Comment.new] do |form| %>
    <%= form.hidden_field :commentable_type, value: @commentable.class %>
    <%= form.hidden_field :commentable_id, value: @report.id %>
    <%= form.text_area :content, class: "card mb2 overflow-visible", placeholder: "Describe your requested changes…", "data-behavior": "ctrl_enter_submit", style: "min-height: 100px" %>

    <%= form.hidden_field :action, value: :changes_requested %>

    <div class="field">
      <%= form.file_field :file %>
    </div>

    <%= form.submit "Request Changes" %>
  <% end %>
</section>

<% if @report.draft? %>
  <section class="flex items-start justify-center mt2 mb2" style="gap: 16px; position: relative;">
    <article class="card">
      <p class="mt0">
        HCB is able to reimburse you through either an ACH transfer or a check. To receive reimbursement, you'll need to submit each of your expenses to us through this report.
      </p>
      <p>
        Begin by adding an expense to this report below; for each expense, you'll need to attach
        a receipt, provide a memo describing the expense, and specify the amount you are seeking reimbursement for.
      </p>
      <p>
        Once you've added all of your expenses to the report, click <i>Submit</i> to begin the review process.
      </p>

      <section class="card__banner card__banner--bottom card__darker pt2 pb2">
        <p class="muted mt0 mb0">
          There are some restrictions and limitations on what transactions can be reimbursed. Learn more in our <a href="#">FAQ</a>.
        </p>
      </section>
    </article>
  </section>

  <h2 class="flex items-center">
    <span style="flex-grow: 1">Expenses</span>
  </h2>
<% end %>

<div id="expenses">
  <% @report.expenses.order(created_at: :asc).each do |expense| %>
    <%= render "reimbursement/expenses/expense", expense: %>
  <% end %>
</div>

<% unless @report.closed? %>
  <div class="flex items-center justify-between mt2 mb3" style="gap: 16px;">
    <div style="flex-grow: 1;" class="flex justify-start">
      <% if !@report.locked? %>
        <%= link_to reimbursement_expenses_path(report_id: @report.id), class: "btn bg-success", data: { turbo: true, turbo_method: :post } do %>
          <%= inline_icon "docs" %>
          Add An Expense
        <% end %>
      <% elsif !@report.event.users.include?(current_user) %>
        <div class="btn bg-success disabled" class="tooltipped tooltipped--n" aria-label="Expenses can't be added to locked reports">
          <%= inline_icon "docs" %>
          Add An Expense
        </div>
      <% else %>
        <%= link_to reimbursement_report_reject_path(report_id: @report.id), class: "btn bg-primary", data: { turbo: true, turbo_method: :post } do %>
          <%= inline_icon "docs" %>
          Reject & Close Report
        <% end %>
      <% end %>
    </div>

    <div style="flex-grow: 1;" class="flex justify-center items-center" style="gap: 4px;">
      <% if !@report.event.users.include?(current_user) && @report.locked? %>
        <%= inline_icon "private" %>
        Expense Report Locked
      <% elsif @report.locked? && @report.submitted? %>
        <%= link_to reimbursement_report_request_reimbursement_path(report_id: @report.id), class: "btn bg-info", method: :post do %>
          <%= inline_icon "payment-transfer" %>
          Request Reimbursement (<%= @report.expenses.approved.count %>/<%= @report.expenses.count %>)
        <% end %>
      <% elsif @report.locked? && @report.reimbursement_requested? && !admin_signed_in? %>
        <div class="btn bg-info disabled" style="opacity: 0.75" disabled>
          <%= inline_icon "clock" %>
          Pending HCB Team Review
        </div>
      <% elsif @report.locked? && @report.reimbursement_requested? %>
        <% admin_tools do %>
          <%= link_to reimbursement_report_admin_approve_path(report_id: @report.id), class: "btn bg-info", method: :post do %>
            <%= inline_icon "thumbsup" %>
            Approve Reimbursement
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div style="flex-grow: 1;" class="flex justify-end">
      <% if !@user.payout_method.present? %>
        <% if @user == current_user %>
          <%= link_to settings_payouts_path, class: "btn bg-warning" do %>
            <%= inline_icon "profile" %>
            Add Payout Information
          <% end %>
        <% elsif admin_signed_in? %>
          <%= link_to payouts_user_path(@user), class: "btn bg-warning" do %>
            <%= inline_icon "profile" %>
            Add Payout Information
          <% end %>
        <% else %>
          <div class="btn bg-warning disabled">
            <%= inline_icon "profile" %>
            Missing Payout Information
          </div>
        <% end %>
      <% elsif @report.draft? || @report.changes_requested? %>
        <%= link_to reimbursement_report_submit_path(report_id: @report.id), class: "btn bg-info", method: :post do %>
          <%= inline_icon "send" %>
          Submit & Request Review
        <% end %>
      <% elsif !@report.event.users.include?(current_user) && @report.unlockable? %>
        <%= link_to reimbursement_report_draft_path(report_id: @report.id), class: "btn bg-muted", method: :post do %>
          <%= inline_icon "reply" %>
          Mark As Draft
        <% end %>
      <% elsif !@report.event.users.include?(current_user) %>
        <div class="btn bg-success disabled" class="tooltipped tooltipped--n" aria-label="This report can't be marked as a draft.">
          <%= inline_icon "docs" %>
          Mark As Draft
        </div>
      <% else %>
        <%= link_to "#", class: "btn bg-warning", data: { behavior: "modal_trigger", modal: "request_changes" } do %>
          <%= inline_icon "reply" %>
          <% if @report.reimbursement_requested? && admin_signed_in? %>
            Send Back
          <% else %>
            Request Changes
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render partial: "conversation" %>

<style>
  html { scroll-behavior: smooth; }
</style>
