<% title @report.name %>
<% page_md %>
<%= render "events/nav", selected: :reimbursements %>

<style>
  html { scroll-behavior: smooth; }
</style>

<div class="mt4">
    <h3 class="mt2 mb1 muted flex" style="font-weight: 400; gap: 4px;">
      <span style="flex-grow: 1;">
        <%= user_mention @user, class: "tooltipped--s align-top" %> is requesting <%= render "total", report: @report %> for
      </span>
      <span class="ml0 badge bg-<%= @report.aasm_state %>"><%= @report.status_text %></span>
      <%= link_to "#", class: "ml0 badge bg-info text-decoration-none", data: { behavior: "modal_trigger", modal: "edit" } do %>
        Edit Details
      <% end %>
    </h3>
    <h2 class="heading mt0 mb1 flex">
      <span style="flex-grow: 1;"><%= @report.name %></span>
    </h2>
</div>

<section data-behavior="modal" role="dialog" id="edit" class="modal modal--scroll bg-snow">
  <%= modal_header "Edit Report" %>
  <%= render "form" %>
</section>

<section class="flex items-start justify-center mt3 mb2" style="gap: 16px; position: relative;">
  <article class="card">
    <p class="mt0">
      HCB is able to reimburse you through either an ACH transfer or a check. To receive reimbursement, you'll need to submit each of your expenses to us through this report.
    </p>
    <p>
      Begin by adding an expense to this report below; for each expense, you'll need to attach
      a receipt, provide a memo describing the expense, and specify the amount you are seeking reimbursement for.
    </p>
    <p>
      Once you've added all of your expenses to the report, click <i>Submit</i> to begin the review process.
    </p>

    <section class="card__banner card__banner--bottom card__darker pt2 pb2">
      <p class="muted mt0 mb0">
        There are some restrictions and limitations on what transactions can be reimbursed. Learn more in our <a href="#">FAQ</a>.
      </p>
    </section>
  </article>
</section>

<h2 class="flex items-center">
  <span style="flex-grow: 1">Expenses</span>
</h2>

<div id="expenses">
  <% @report.expenses.order(created_at: :desc).each do |expense| %>
    <%= render "reimbursement/expenses/form", expense: %>
  <% end %>
</div>

<div class="flex items-center justify-between mt2 mb3" style="gap: 16px;">
  <div style="flex-grow: 1;" class="flex justify-start">
    <div <%= 'class="tooltipped tooltipped--n" aria-label="Expenses can\'t be added to locked reports"'.html_safe if @report.locked? %>>
      <%= link_to reimbursement_expenses_path(report_id: @report.id), class: "btn bg-success #{@report.locked? ? "disabled" : ""}", style: (@report.locked? ? "opacity: 0.75" : ""), data: {
            turbo: true,
            turbo_method: :post
          } do %>
        <%= inline_icon "docs" %>
        Add An Expense
      <% end %>
    </div>
  </div>

  <div style="flex-grow: 1;" class="flex justify-center items-center" style="gap: 4px;">
    <% if @report.locked? %>
      <%= inline_icon "private" %>
      Expense Report Locked
    <% end %>
  </div>

  <div style="flex-grow: 1;" class="flex justify-end">
    <div <%= 'class="tooltipped tooltipped--n" aria-label="Locked reports can\'t be modified"'.html_safe if @report.locked? %>>
      <% if @report.draft? %>
        <%= link_to reimbursement_report_submit_path(report_id: @report.id), class: "btn bg-info", method: :post do %>
          <%= inline_icon "send" %>
          Submit & Request Review
        <% end %>
      <% else %>
        <%= link_to reimbursement_report_draft_path(report_id: @report.id), class: "btn bg-muted #{@report.locked? ? "disabled" : ""}", style: (@report.locked? ? "opacity: 0.75" : ""), method: :post do %>
          <%= inline_icon "reply" %>
          Mark As Draft
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<h2 class="flex items-center">
  <span style="flex-grow: 1">Conversation</span>
</h2>
<article>
  <%= turbo_frame_tag :audit_log do %>
    <ul class="list-reset">
      <% versions = @report.versions.select { |version| version.changeset.any? { |field, changes| changes.any?(&:present?) } } %>
      <% comments = @report.comments %>
      <% (versions + comments).sort_by(&:created_at).each do |item| %>
        <% if item.instance_of?(Comment) %>
          <% if item.admin_only %>
            <% admin_tools do %>
              <%= render "comments/item", comment: item %>
            <% end %>
          <% else %>
            <%= render "comments/item", comment: item %>
          <% end %>
        <% else %>
          <% state_change = item.changeset["aasm_state"]&.second %>

          <style>
            .linethingy::before {
              content: "";
              width: 1px;
              height: calc(100% + 20px);
              background-color: black;
              display: block;
              position: absolute;
              left: 17.5px;
              z-index: 1;
            }
            .linethingy {
              position: relative;
            }
          </style>
          <li class="linethingy">
            <% if state_change %>

              <% icon, color = {
                   "submitted"          => ["send", "info"],
                   "rejected"           => ["thumbsdown", "error"],
                   "organizer_approved" => ["thumbsup", "success"],
                   "admin_approved"     => ["admin", "warning"],
                   "draft"              => ["docs", "muted"],
                   "reimbursed"         => ["docs", "purple"],
                 }[state_change] %>
              <div class="flex flex-row items-center" style="gap: 16px">
                <div class="flex items-center justify-center z2 pop no_hover bg-<%= color %>-important" style="color: white;">
                  <%= inline_icon icon, width: 30 %>
                </div>

                <div style="display: flex; align-items: center; gap: 4px">
                  <span class="muted" style="margin-right: -0.25em;">
                    <%= user_mention User.find_by(id: item.whodunnit), { hide_avatar: true }, "Unknown User" %>
                  </span>
                  <span class="align-middle">
                    <%= {
                          "submitted"          => "submitted this report", # TODO: support submitted / resubmitted
                          "rejected"           => "rejected this report",
                          "organizer_approved" => "approved this report as an organizer",
                          "admin_approved"     => "approved this report as an admin",
                          "draft"              => "converted this report to a draft",
                          "reimbursed"         => "initiated a reimbursement"
                        }[state_change] %>
                  </span>
                  <span class="tooltipped tooltipped--n align-middle" style="cursor: default" aria-label="<%= item.created_at.strftime("%b %e, %Y") %>">
                    <%= time_ago_in_words item.created_at %> ago
                  </span>
                </div>
              </div>
            <% else %>

              <div class="flex flex-row items-center" style="gap: 16px">
                <div class="pop bg-smoke-important no_hover relative z2">
                  <%= inline_icon "post", width: 30 %>
                </div>
                <div style="display: flex; align-items: center; gap: 4px">
                  <span class="muted; margin-right: -0.25em;">
                    <%= user_mention User.find_by(id: item.whodunnit), { hide_avatar: true }, "Unknown User" %>
                  </span>
                  <span class="align-middle"><%= item.event %>d this report</span>
                  <span class="tooltipped tooltipped--n align-middle" style="cursor: default" aria-label="<%= item.created_at.strftime("%b %e, %Y") %>">
                  <%= time_ago_in_words item.created_at %> ago</span>
                </div>
              </div>

              <% if item.event == "update" %>
                <ul class="list-reset" style="margin-left: 48px;">
                  <% item.changeset.excluding("updated_at").select { |field, changes| changes.any?(&:present?) }.each do |field, changes| %>
                    <strong class="muted"><%= field.humanize %>:</strong> <%= render_audit_log_value(field, changes[0], color: "primary") %> → <%= render_audit_log_value(field, changes[1], color: "success") %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </li>
        <% end %>
        <div class="mt1 mb2"></div>
      <% end %>
    </ul>
  <% end %>

  <%= render "comments/form" %>
</article>
