<%= form_with(model: [@organizer_position, @spending_authorization], local: true) do |form| %>
  <% if @spending_authorization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spending_authorization.errors.count, "error") %> prohibited this spending auth from being saved:</h2>
      <ul>
      <% @spending_authorization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount_cents %>
    <%= form.number_field :amount_cents %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
