<%# locals: (expense:, start_enabled:, scroll_on_load:) -%>

<%= turbo_frame_tag expense do %>

  <% start_enabled ||= false %>
  <% scroll_on_load ||= false %>

  <% if scroll_on_load %>
    <script>
      window.scrollTo(0, document.body.scrollHeight);
    </script>
  <% end %>
  <% color = expense.report.rejected? ? "primary" : expense.pending? ? expense.report.reimbursement_requested? || expense.report.reimbursement_approved? ? "primary" : "warning" : "success" %>
  <article id="<%= expense.hashid %>" class="expense card mt2 pt0 border b--<%= color %>" data-controller="expense-form" data-expense-form-enabled-value="<%= start_enabled %>" data-expense-form-locked-value="<%= expense.report.locked? %>" style="border-width: 1.5px; <%= expense.pending? && (expense.report.reimbursement_requested? || expense.report.reimbursement_approved?) ? "opacity: 0.2" : "" %>">
  <div class="card__banner secondary mb2 b--info border-bottom border-smoke-important flex items-center" style="gap: 8px">
      <code data-behavior="mention" data-mention-title="<%= expense.memo %>" class="bg-white tooltipped tooltipped--e pointer" style="padding: 2px 4px; border-radius: 4px;" aria-label="Click to reference in comment">@<%= expense.hashid %></code>
      <div style="flex-grow: 1"></div>
      <style>
        [data-expense-form-enabled-value=true] #edit-or-save {
          color: #33d6a6;
          background-color: #33d6a620;
        }
        [data-expense-form-locked-value=true] #edit-or-save {
          color: #ff8c37;
          background-color: #ff8c3720;
          cursor: no-drop!important;
        }

        [data-expense-form-locked-value=true] #edit-or-save:hover {
          transform: none;
          box-shadow: none!important;
        }
      </style>
      <button id="edit-or-save" class="pop pointer" data-expense-form-target="button">
        <%= inline_icon "checkmark", style: start_enabled ? nil : "display: none;" %>
        <%= inline_icon expense.report.locked? ? "private" : "edit", style: start_enabled && !expense.report.locked? ? "display: none;" : nil %>
      </button>
      <%= pop_icon_to "view-close",
                reimbursement_expense_path(expense.id),
                method: :delete,
                size: 24,
                class: "error tooltipped tooltipped--w",
                'aria-label': "Delete this expense",
                data: { turbo: true } %>
  </div>
  <section class="grid grid--split">
      <div>
        <%= render partial: "reimbursement/expenses/form", locals: { expense:, start_enabled: } %>
      </div>
      <%= render partial: "reimbursement/expenses/receipts", locals: { expense: } %>
    </section>
  </article>

<% end %>
