<%# locals: (expense:, new:) -%>

<% new ||= false %>

<%= turbo_frame_tag expense do %>
  <article
    id="<%= expense.hashid %>"
    class="
      expense card mt2 pt0 border
      b--<%= expense.status_color %>
      <%= "translucent" if expense.rejected? && !expense.report.rejected? %>
    "
    data-controller="expense-form"
    data-expense-form-enabled-value="<%= new %>"
    data-expense-form-locked-value="<%= expense.report.locked? %>">
    <div class="card__banner secondary mb2 b--info border-bottom border-smoke-important flex items-center" style="gap: 8px">
        <code
          data-behavior="mention"
          data-mention-title="<%= expense.memo %>"
          class="bg-white tooltipped tooltipped--e pointer mention"
          aria-label="Click to reference in comment">
          @<%= expense.hashid %>
        </code>
        <div style="flex-grow: 1"></div>
        <button id="edit-or-save" class="pop pointer" data-expense-form-target="button">
          <%= inline_icon "checkmark", style: new ? nil : "display: none;" %>
          <%= inline_icon expense.report.locked? ? "private" : "edit", style: new && !expense.report.locked? ? "display: none;" : nil %>
        </button>
        <%= pop_icon_to "view-close",
                  reimbursement_expense_path(expense.id),
                  method: :delete,
                  size: 24,
                  class: "error tooltipped tooltipped--w",
                  'aria-label': "Delete this expense",
                  data: { turbo: true } %>
    </div>
    <section class="grid grid--split">
      <%= render partial: "reimbursement/expenses/form", locals: { expense:, new: } %>
      <%= render partial: "reimbursement/expenses/receipts", locals: { expense: } %>
    </section>
  </article>
<% end %>

<% if new %>
  <script>
    document.getElementById("<%= expense.hashid.to_json %>").scrollIntoView()
  </script>
<% end %>
