<%# locals: (expense:, start_enabled:, scroll_on_load:) -%>

<% start_enabled ||= false %>
<% scroll_on_load ||= false %>

<article class="card mt2" id="expense-<%= expense.id %>">
  <section class="grid grid--split">
    <div>
      <%= turbo_frame_tag expense do %>
        <% if scroll_on_load %>
          <script>
            window.scrollTo(0, document.body.scrollHeight);
          </script>
        <% end %>
        <%= form_with(model: expense, class: "mb3", style: "max-width: 600px;", local: true, data: {
                        controller: "expense-form",
                        "expense-form-enabled-value": start_enabled,
                      }) do |form| %>
          <div class="flex flex-row items-center">
            <div style="flex-grow: 1;">
              <%= form.label :memo, "Memo", class: "bold" %>
              <%= form.text_field :memo, placeholder: "Meal at SFO Airport", required: true, data: { "expense-form-target": "field", "action": "dblclick->expense-form#edit" } %>
            </div>

            <span class="bold muted flex self-end items-center justify-center ml1" style="width: 1rem; height: 48px;">$</span>

            <div>
              <%= form.label :amount, "Amount", class: "bold" %>
              <%= form.number_field :amount, placeholder: "500.00", step: 0.01, min: 0.01, max: [expense.report.maximum_amount_cents, 500_000].min, data: { controller: "truncate-decimal", action: "truncate-decimal#truncate", "expense-form-target": "field" } %>
            </div>

            <div class="ml1 self-end flex items-center justify-center" style="height: 48px;">
              <style>
                [data-expense-form-enabled-value=true] #edit-or-save {
                  color: #33d6a6;
                  background-color: #33d6a620;
                }
              </style>
              <button id="edit-or-save" class="pop pointer" data-expense-form-target="button">
                <%= inline_icon "checkmark", style: start_enabled ? nil : "display: none;" %>
                <%= inline_icon "edit", style: start_enabled ? "display: none;" : nil %>
              </button>
            </div>
          </div>
          <div class="field mt2">
            <div class="flex flex-row items-center justify-between mb1">
              <%= form.label :description, "Description", class: "bold" %>
              <span class="h5 muted mt0 mb0">
                Provide additional context for this expense
              </span>
            </div>
            <%= form.text_area :description, placeholder: "Focusing on...", class: "w-100 fit", data: { "expense-form-target": "field" } %>
            <p class="h5 muted mt1 mb1">
              <%= link_to "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#table-of-contents", target: "_blank", class: "flex items-center" do %>
                <%= inline_icon "markdown", size: 32 %> Styling with Markdown is supported
              <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <%= render partial: "reimbursement/expenses/receipts", locals: { expense: } %>
  </section>
</article>
