<%# locals: (expense:, start_enabled:) -%>

<% start_enabled ||= false %>


  <%= form_with(model: expense, class: "mb3", style: "max-width: 600px;", local: true, data: { "expense-form-target": "form", turbo: true }) do |form| %>
    <div class="flex flex-row items-center">
      <div style="flex-grow: 1;">
        <%= form.label :memo, "Memo", class: "bold" %>
        <%= form.text_field :memo, placeholder: "Meal at SFO Airport", required: true, data: { "expense-form-target": "field", "action": "dblclick->expense-form#edit" }, onkeydown: "event.key == 'Enter' && event.target.form.requestSubmit()"  %>
      </div>

      <span class="bold muted flex self-end items-center justify-center ml1" style="width: 1rem; height: 48px;">$</span>

      <div>
        <%= form.label :amount, "Amount", class: "bold" %>
        <%= form.number_field :amount, placeholder: "500.00", step: 0.01, min: 0.01, max: [expense.report.maximum_amount_cents || Float::INFINITY, 500_000].min, data: { controller: "truncate-decimal", action: "truncate-decimal#truncate", "expense-form-target": "field" }, onkeydown: "event.key == 'Enter' && event.target.form.requestSubmit()" %>
      </div>
    </div>
    <div class="field mt2">
      <div class="flex flex-row items-center justify-between mb1">
        <%= form.label :description, "Description", class: "bold" %>
        <span class="h5 muted mt0 mb0 flex items-center">
          <%= inline_icon "markdown", size: 32 %> Additional context for this expense
        </span>
      </div>
      <%= form.text_area :description, placeholder: "Focusing on...", class: "w-100 fit", data: { "expense-form-target": "field" } %>
    </div>
    <% if !expense.approved? && expense.report.submitted? %>
      <%= link_to reimbursement_expense_approve_path(expense_id: expense.id), class: "btn bg-info", method: :post do %>
        <%= inline_icon "thumbsup" %>
        Approve
      <% end %>
    <% elsif expense.report.submitted? %>
      <%= link_to reimbursement_expense_unapprove_path(expense_id: expense.id), class: "btn bg-muted", method: :post do %>
        <%= inline_icon "reply" %>
        Revert Approval
      <% end %>
    <% end %>
  <% end %>
