<h1>Process Partnered Signup #<%= @partnered_signup.id %></h1>
<p><small>Current Status: <%= @partnered_signup.aasm_state %></small></p>

<h3>Partnered Signup Details</h3>
<table class="table--autosize">
  <tbody>
    <tr>
      <td class="bold right-align">Partner:</td>
      <td><%= @partnered_signup.partner.name %></td>
    </tr>
    <tr>
      <td class="bold right-align">ID:</td>
      <td><%= @partnered_signup.public_id %></td>
    </tr>
    <tr>
      <td class="bold right-align">Organization name:</td>
      <td><%= @partnered_signup.organization_name %></td>
    </tr>
    <tr>
      <td class="bold right-align">Organization website:</td>
      <td>
      <% if @partnered_signup.organization_url %>
        <%= link_to @partnered_signup.organization_url %>
      <% else %>
        <span>N/A</span>
      <% end %>
      </td>
    </tr>
    <tr>
      <td style="max-width: 500px;" class="bold right-align">Organization description:</td>
      <td><%= @partnered_signup.organization_description %></td>
    </tr>
    <tr>
      <td class="bold right-align">Owner email:</td>
      <td><%= mail_to @partnered_signup.owner_email %></td>
    </tr>
    <tr>
      <td class="bold right-align">Owner phone:</td>
      <td><%= @partnered_signup.owner_phone %></td>
    </tr>
  </tbody>
</table>
<br/>
<hr/>
<h3>Process</h3>

<% if !@partnered_signup.applicant_signed? %>
  <p>
    Form was submitted, but the applicant has not signed the contract.
  </p>
<% end %>

<% if @partnered_signup.docusign_envelope_id %>
  <%=  button_to "Go to Docusign", partnered_signup_sign_document_admin_index_url(@partnered_signup) %>
<% end %>

<% if @partnered_signup.applicant_signed? %>
  <%= form_with(model: nil, local: true, url: partnered_signups_accept_admin_path(@partnered_signup), method: :post) do |form| %>
    <%= form.submit "Approve" %>
  <% end %>

  <%= form_with(model: nil, local: true, url: partnered_signups_reject_admin_path(@partnered_signup), method: :post) do |form| %>
    <%= form.submit "Reject" %>
  <% end %>
<% end %>

<%# Commented out for testing. NOTE TO SELF TO UNCOMMENT THE IF STATEMENTS BEFORE COMMITTING -@exu3 %>
<%# if @partnered_signup.accepted? %>
  <%= link_to "Approval Email Template", @partnered_signup.admin_accept_redirect_url, target: :_blank %>
<%# end %>
<%# if @partnered_signup.rejected? %>
  <%= link_to "Rejection Email Template", @partnered_signup.admin_reject_redirect_url, target: :_blank %>
<%# end %>