<% title "Partnered Signups" %>

<%= paginate @partnered_signups %>

<h1>Partnered Signups</h1>

<%= form_with local: true, url:  partnered_signups_admin_index_path , method: :get do |form| %>
  <%= form.text_field :q, value: params[:q], style: 'vertical-align: top;', placeholder: 'Search' %>
  <div class="inline-block">
    <div style='display: inline; border: 1px lightgray solid; border-radius: 0.2rem; padding: 0.2rem; margin-right: 0.5rem;'>
      State: |
      <%= form.label :applicant_signed do %>
        <%= form.check_box :applicant_signed, checked: @applicant_signed %>
        Contract Signed
      <% end %>
      |
      <%= form.label :submitted do %>
        <%= form.check_box :submitted, checked: @submitted %>
        Approved
      <% end %>
      |
      <%= form.label :accepted do %>
        <%= form.check_box :accepted, checked: @accepted %>
        Approved
      <% end %>
      | 
      <%= form.label :rejected do %>
        <%= form.check_box :rejected, checked: @rejected %>
        Rejected
      <% end %>
    </div>
    <%= form.submit "Search" %>
  </div>
<% end %>

<%= page_entries_info @partnered_signups, entry_name: 'signups' %>
<table>
  <thead>
    <tr>
      <th class="w-32">Public ID</th>
      <th class="w-48">Organization Name</th>
      <th class="w-48">Owner Name</th>
      <th class="w-48">Owner Email</th>
      <th class="w-48">Partner</th>
      <th class="w-32">DocuSign Envelope ID</th>
      <th class="w-32">Status</th>
      <th class="w-32">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @partnered_signups.each do |partnered_signup| %>
      <tr class="<%= "admin-bg-pending" if partnered_signup.applicant_signed? %>">
        <td><%= link_to partnered_signup.public_id, edit_partnered_signups_path(partnered_signup.public_id) %></td>
        <td><%= partnered_signup.organization_name %></td>
        <td><%= partnered_signup.owner_name %></td>
        <td><%= partnered_signup.owner_email %></td>
        <td><%= partnered_signup.partner.name %></td>
        <td><%= partnered_signup.docusign_envelope_id %></td>
        <td>
          <%= partnered_signup.state_text %>
        </td>
        <td>
          <%= link_to "#{partnered_signup.submitted? ? 'Process' : 'View'}", partnered_signup_process_admin_path(partnered_signup) %>
          <% if partnered_signup.docusign_envelope_id %>
            <%=  button_to "Go to DocuSign", partnered_signup_sign_document_admin_index_url(partnered_signup) %>
          <% end %>
        <% if partnered_signup.applicant_signed? %>
          <%= form_with(model: nil, local: true, url: partnered_signups_accept_admin_path(id: partnered_signup.id), method: :post) do |form| %>
            <%= form.submit "Approve" %>
          <% end %>

          <%= form_with(model: nil, local: true, url: partnered_signups_reject_admin_path(id: partnered_signup.id), method: :post) do |form| %>
            <%= form.submit "Reject" %>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @partnered_signups %>