<% title "Spending auths for #{@user.name}" %>
<% page_md %>
<%= render "events/nav" %>

<h1 class="heading flex">
  <span style="flex"><%= @user.name %>'s Spending</span>
  <%= link_to "#", class: "btn bg-success", data: { behavior: "modal_trigger", modal: "new" } do %>
    <%= inline_icon "docs" %>
    New
  <% end %>
</h1>

<div class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="new">
  <%= modal_header "New spending authorization" %>
  <%= render "form" %>
</div>

<%= @op.spending_controls.count %> spending controls,
<%= @op.active_spending_control ? "one" : "none" %> active

<div class="statset mt3 mb2">
  <div class="stat stat--small">
    <span class="stat__label">Balance</span>
    <span class="stat__value">
      <%= render_money_amount @authorization_balance %>
    </span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Total Allocated</span>
    <span class="stat__value">
      <%= render_money_amount @authorizations_total %>
    </span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Spent</span>
    <span class="stat__value">
      <%= render_money_amount @transactions_total %>
    </span>
  </div>
</div>

<% spending_controls_callout_footer = capture do %>
  <% if @op.active_spending_control %>
    <%= link_to new_event_organizer_control_path(@event, @op), class: "btn btn-small bg-error", method: :delete do %>
      <%= inline_icon "forbidden" %>
      Disable controls for <%= @op.user.first_name %>
    <% end %>
  <% else %>
    <%= link_to new_event_organizer_control_path(@event, @op), class: "btn btn-small bg-info" do %>
      Enable controls for <%= @op.user.first_name %>
    <% end %>
  <% end %>
<% end %>
<%= render "callout", type: "info", title: "Spending controls are enabled for #{@op.user.first_name}.", footer: spending_controls_callout_footer  do %>
  <ul>
    <li>Spending controls lets managers pre-authorize a defined portion of your organization's fund to be spent by a user.</li>
    <li>Your organization's balance will not change when an allowance is created.</li>
    <li>Allowances do not expire.
  </ul>
<% end %>

<hr>

<div class="flex g2 items-center">
  <%= form_with(model: nil, local: true, method: :get, class: "grow") do |form| %>
    <div class="filterbar flex flex-wrap items-center width-100">
      <%= form.text_field :q, placeholder: "Search…", class: "flex-auto md-mr2", style: "width auto; max-width: none;", value: params[:q] %>
    </div>
  <% end %>

  <div style="text-align: center;">
    <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["authorizations", "transactions"].include?(params[:filter]), role: "tab" %>
    <%= link_to "Authorizations", "?filter=authorizations", class: "filterbar__item", "aria-selected": params[:filter] == "authorizations", role: "tab" %>
    <%= link_to "Transactions", "?filter=transactions", class: "filterbar__item", "aria-selected": params[:filter] == "transactions", role: "tab" %>
  </div>
</div>

<% if @spending_items.blank? %>
  <%= blankslate "Nothing here yet" %>
<% else %>
  <article class="table-container">
    <table>
      <thead>
      <tr>
        <th>Amount</th>
        <th>Memo</th>
        <th>Created by</th>
        <th>Date</th>
      </tr>
      </thead>
      <tbody>
        <% @spending_items.each do |item| %>
          <tr class="<%= item.is_a?(OrganizerPosition::Spending::Authorization) ? "transaction--positive": "transaction--negative" %>">
            <td>
              <%= render_money item.amount_cents %>
            </td>
            <td style="max-width: 400px; overflow: hidden; text-overflow: ellipsis;">
              <%= item.memo %>
            </td>
            <td class="flex items-center g1">
              <% item_user = item.is_a?(OrganizerPosition::Spending::Authorization) ? item.authorized_by.user : item.stripe_cardholder.user  %>
              <%= avatar_for item_user, 24 %>
              <%= item_user.name %>
            </td>
            <td>
              <%= format_date item.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
<% end %>
