<% title "Spending auths for #{@user.name}" %>
<% page_md %>
<%= render "events/nav" %>

<h1 class="heading flex">
  <span style="flex"><%= @user.name %>'s Spending</span>

  <% if @op.active_spending_control %>
    <%= link_to "#", class: "btn bg-success", data: { behavior: "modal_trigger", modal: "new" } do %>
      <%= inline_icon "docs" %>
      New
    <% end %>
  <% end %>
</h1>

<div class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="new">
  <%= modal_header "New spending authorization" %>
  <%= render "form" %>
</div>

<% if @op.active_spending_control %>
    <div class="statset mt3 mb2">
    <div class="stat stat--small">
        <span class="stat__label">Balance</span>
        <span class="stat__value">
        <%= render_money_amount @op.active_spending_control.balance %>
        </span>
    </div>
    <div class="stat stat--small">
        <span class="stat__label">Total Allocated</span>
        <span class="stat__value">
        <%= render_money_amount @op.active_spending_control.total_allocation_amount %>
        </span>
    </div>
    <div class="stat stat--small">
        <span class="stat__label">Spent</span>
        <span class="stat__value">
        <%= render_money_amount @transactions_total %>
        </span>
    </div>
    </div>
<% end %>

<% spending_controls_callout_footer = capture do %>
  <% if @op.active_spending_control %>
      <% control_disable_button = link_to new_event_organizer_control_path(@event, @op), class: "btn btn-small bg-error tooltipped tooltipped--e", disabled: !policy(@provisional_control).destroy?, method: :delete do %>
        <%= inline_icon "forbidden" %>
        Disable controls for <%= @op.user.first_name %>
      <% end %>

    <% if policy(@provisional_control).destroy? %>
        <%= control_disable_button %>
    <% else %>
    <div class="w-fit tooltipped tooltipped--e" aria-label="You're not allowed to remove your spending controls as a member.">
        <%= control_disable_button %>
    </div>
    <% end %>
  <% else %>
    <% control_enable_button = link_to new_event_organizer_control_path(@event, @op), class: "btn btn-small bg-info tooltipped tooltipped--e", disabled: !policy(@provisional_control).new? do %>
      Enable controls for <%= @op.user.first_name %>
    <% end %>

  <% if policy(@provisional_control).new? %>
    <%= control_enable_button %>
  <% else %>
    <div class="w-fit tooltipped tooltipped--e" aria-label="You're not allowed to set spending controls on yourself as a member.">
      <%= control_enable_button %>
    </div>
  <% end %>
<% end %>
<% end %>
<%= render "callout", type: "info", title: "Spending controls are #{@op.active_spending_control ? "enabled" : "disabled"} for #{@op.user.first_name}.", footer: spending_controls_callout_footer  do %>
  <ul>
    <li>Spending controls lets managers pre-authorize a defined portion of your organization's fund to be spent by a user.</li>
    <li>Your organization's balance will not change when an allowance is created.</li>
    <li>Allowances do not expire.
  </ul>
<% end %>


<% if @active_control %>
    <div class="flex g2 items-center">
        <%= form_with(model: nil, local: true, method: :get, class: "grow") do |form| %>
            <div class="filterbar flex flex-wrap items-center width-100">
            <%= form.text_field :q, placeholder: "Search…", class: "flex-auto md-mr2", style: "width auto; max-width: none;", value: params[:q] %>
            </div>
        <% end %>

        <div style="text-align: center;">
            <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["allowances", "transactions"].include?(params[:filter]), role: "tab" %>
            <%= link_to "Allowances", "?filter=allowances", class: "filterbar__item", "aria-selected": params[:filter] == "allowances", role: "tab" %>
            <%= link_to "Transactions", "?filter=transactions", class: "filterbar__item", "aria-selected": params[:filter] == "transactions", role: "tab" %>
        </div>
    </div>

    <% if @active_control&.organizer_position_spending_allowances.blank? %>
      <%= blankslate "No allowances yet" %>
    <% else %>
      <%= render_spending_items sorted_spending_items(@op.active_spending_control) %>
    <% end %>
<% end %>

<div class="mixed-grid grid--spacious mt-16">
    <%= link_to "#", data: { behavior: "modal_trigger", modal: "past-controls" }, class: "card flex justify-between #{"opacity-50 pointer-events-none" if @inactive_control_count.zero?}" do %>
        <div class="flex flex-col">
        <p class="bold black">Past controls</p>
        <p class="muted">
            <% if @inactive_control_count.zero? %>
                There are no previous spending controls
            <% else %>
                View <strong><%= @inactive_control_count %></strong> previous spending controls
            <% end %>
        </p>
        </div>
        <%= inline_icon "clock" %>
    <% end %>

    <%= link_to "/roles", class: "card flex justify-between" do %>
        <div class="flex flex-col">
        <p class="bold black">More info</p>
        <p class="muted">Learn about HCB's spending controls feature</p>
        </div>
        <%= inline_icon "link" %>
    <% end %>
</div>

<div data-behavior="modal" role="dialog" id="past-controls" class="modal modal--scroll bg-snow">
    <%= modal_header "Past controls" %>

    <% @op.spending_controls.filter { |c| !c.active }.sort_by(&:created_at).reverse.each_with_index do |c, i| %>
        <div class="card <%= "mt-8" unless i.zero? %>">
            <h4 class="m0 mb1">
                <% if c.created_at.to_date == c.ended_at.to_date %>
                    <%= format_date c.created_at %>
                <% else %>
            <%= format_date c.created_at %> - <%= format_date c.ended_at %>
            <% end %>
            </h4>

            <%= render_spending_items sorted_spending_items(c) %>
        </div>
    <% end %>
</div>
