<section class="modal modal--scroll  bg-snow" data-behavior="modal" role="dialog" id="create_tag_<%= instance %>">
  <%= modal_header("Create tag") %>
  <%= form_with url: event_tags_path(@event || code.event), data: { turbo: true } do |form| %>
    <%= form.hidden_field :hcb_code_id, value: instance %>
    <div class="flex gap-2">
      <div>
        <%= form.text_field :label, data: { "behavior" => (@event || code.event).tags.none? ? "autofocus" : "" }, placeholder: "Tag name", autocomplete: "off", required: true %>
        <% 
          colors = ['#f27384', '#ffa866', '#f7db6e', '#7fe6c7', '#80cde5', '#7eb8e7', '#c77fe6']
          colors.each do |color|
        %>
        <label class="tags__radio mt-2">
          <%= form.radio_button :color, color, id: "tag_color_#{color}_#{instance}" %>
          <div class="radio__control" style="background-color: <%= color %>"></div>
        </label>
        <% end %>
      </div>
    </div>
    <%= form.submit "Create", class: "btn bg-primary mt-2 float-right" %>
  <% end %>
</section>
