<div class="lg:hidden fixed bottom-0 left-0 w-full p-10 z-10 flex justify-center pointer-events-none">
  <div class="rounded-full bg-gray-800 text-white px-5 py-3 w-[250px] max-w-full flex items-center pointer-events-auto gap-3 active:scale-90 transition-transform !shadow-xl cursor-pointer" data-behavior="modal_trigger" data-modal="mobile_nav">
    <%= inline_icon users_mobile_nav(selected: local_assigns[:selected]).find { |e| e[:selected] }&.[](:icon) || "settings" %>
    <span class="text-lg truncate"><%= users_mobile_nav(selected: local_assigns[:selected]).find { |e| e[:selected] }&.[](:name) || "Settings" %></span>
    <%= inline_icon "up-caret", class: "ml-auto" %>
  </div>
</div>

<section class="lg:invisible modal modal--scroll modal--popover p-3 bg-transparent shadow-none" style="height: auto" data-behavior="modal" role="dialog" id="mobile_nav">
  <div class="bg-gray-800 text-white flex-1 mt-auto overflow-hidden rounded-xl">
    <div class="overflow-y-auto overflow-x-hidden p-5">
      <% users_mobile_nav(selected: local_assigns[:selected]).each do |item| %>
        <div>
          <%= dock_item item[:name],
            item[:path],
            tooltip: item[:tooltip],
            icon: item[:icon],
            selected: item[:selected] %>
        </div>
      <% end %>
     <%= render "users/settings_dropdown", local_assigns: %>
    </div>
  </div>
</section>
