<%= render "users/mobile_nav", selected: local_assigns[:selected] %>
<% content_for(:header) do %>
  <div class="mt-1">
    <%= render partial: "logo" %>
  </div>
<% end %>

<% content_for(:nav) do %>
  <div class="mt-5">
    <button
      class="btn h-10 bg-none bg-smoke shadow-none w-100 justify-start mt1 px-3 hover:shadow-none display-none-not-important md:flex"
      style="border-radius: 8px"
      id="command_bar_trigger">
      <span class="flex-grow text-left font-medium">Jump to...</span>
      <span class="bg-gray-300 dark:bg-gray-700 opacity-75 w-6 rounded-md mr-2 text-sm">
        ⌘
      </span>
      <span class="bg-gray-300 dark:bg-gray-700 opacity-75 w-6 rounded-md text-sm">
        K
      </span>
    </button>
  </div>

  <nav class="dock font-medium mt1">
    <% users_mobile_nav(selected: local_assigns[:selected]).each do |item| %>
      <div>
        <%= dock_item item[:name],
          item[:path],
          tooltip: item[:tooltip],
          icon: item[:icon],
          selected: item[:selected] %>
      </div>
    <% end %>
    <div>
      <%= render "users/settings_dropdown", local_assigns: %>
    </div>
    <% if @first_visit %>
      <div class="pwa__prompt" style="position: relative">
        <div class="pwa__prompt__hide" onclick="hidePWAPrompt()">
          <%= inline_icon "private-fill", size: 24, class: "pwa__prompt__icon" %>
        </div>
        <b>Looking for a mobile app?</b>
        <br>
        Click <%= inline_icon "share", size: 18, class: "pwa__prompt__icon" %>
        and then <%= inline_icon "plus", size: 18, class: "pwa__prompt__icon" %>
        <i>Add To Home Screen</i>.
      </div>
    <% end %>
  </nav>

  <% if Flipper.enabled?(:recently_on_hcb_2024_05_23, current_user) && @activities %>
    <h4 class="w-100 mb0 text-left mt3 border-bottom pb1 activity">
      <span class="flex items-center w-100">
          <span class="flex-grow">Recent activity</span>
          <% if admin_signed_in? %>
            <%= link_to toggle_admin_activities_path, data: { turbo_frame: "activities-1", turbo: true, turbo_method: :POST } do %>
              <% admin_tool("ml2 h6 badge bg-muted", style: "padding: 0.25rem 0.625rem; border-radius: 9999px;") do %>
                👤 <%= User.currently_online.count %>
              <% end %>
            <% end %>
          <% end %>
      </span>
    </h4>

    <%= render partial: "my/activities" if Flipper.enabled?(:recently_on_hcb_2024_05_23, current_user) && @activities %>
  <% end %>
<% end %>
