<ul class="tab-container">
  <%= settings_tab active: active == "general" do %>
    <%= link_to "General", @user == current_user ? my_settings_path : edit_user_path(@user), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
  <%= settings_tab active: active == "address" do %>
    <%= link_to "Billing Address", @user == current_user ? settings_address_path : address_user_path(@user), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
  <%= settings_tab active: active == "previews" do %>
    <%= link_to @user == current_user ? settings_previews_path : previews_user_path(@user), data: { turbo: true, turbo_action: "advance" } do %>
      <span class="xs-hide">Feature&nbsp;</span>Previews
    <% end %>
  <% end %>
  <%= settings_tab active: active == "security" do %>
    <%= link_to "Security", @user == current_user ? settings_security_path : security_user_path(@user), data: { turbo: true, turbo_action: "advance" } %>
  <% end %>
  <% if Flipper.enabled?(:dev_mode, current_user) %>
    <%= settings_tab active: active == "general", class: "mono" do %>
      <%= link_to "developer", @user == current_user ? settings_security_path : security_user_path(@user), data: { turbo: true, turbo_action: "advance" } %>
    <% end %>
  <% end %>
  <% admin_tools("p0 overflow-hidden", override_pretend: true) do %>
    <%= settings_tab active: active == "admin" do %>
      <%= link_to "Admin", @user == current_user ? settings_admin_path : admin_user_path(@user), data: { turbo: true, turbo_action: "advance" } %>
    <% end %>
  <% end %>
</ul>

<% unless Flipper.enabled?(:dev_mode, current_user) %>
  <%= form_with url: enable_feature_users_path(feature: "dev_mode"), data: { controller: "form", turbo: true, turbo_frame: "_self", turbo_confirm: "would you like to activate the DEVELOPER MENU?" } do |form| %>
    <div
      data-controller="key-sequence"
      data-action="keydown@window->key-sequence#keydown key-sequence:completed->form#submit"
      data-key-sequence-sequence-value='[
        "ArrowUp",
        "ArrowUp",
        "ArrowDown",
        "ArrowDown",
        "ArrowLeft",
        "ArrowRight",
        "ArrowLeft",
        "ArrowRight",
        "KeyB",
        "KeyA",
        "Enter"
      ]'>
    </div>
  <% end %>
<% end %>
