<% title "Account settings" %>
<% page_md %>
<%= render "users/nav", selected: :settings_reimbursement_payouts %>

<turbo-frame id="settings" autoscroll data-autoscroll-behavior="smooth">
  <%= render "settings_header", active: "payouts" %>
  <section>
    <p class="mt0 mb2 text-balance">
      Choose a method by which you’d like to be reimbursed when one of your <%= link_to "reimbursement reports", my_reimbursements_path %> is approved. This is required for submitting reimbursements. <strong>We currently only support US bank accounts or PayPal</strong>.
      <% if @user.reimbursement_reports.pending.any? %>
        <p>
          Changes made here will apply to all non-reimbursed reports of yours, including your <%= @user.reimbursement_reports.pending.count %> pending reports.
        </p>
      <% end %>
    </p>
    <%= render "application/flash", klass: "max-w-full mb3" %>
    <%= render "payout_form", user: @user %>
  </section>
</turbo-frame>
