<%# locals: (event:) -%>

<div class="border border-smoke rounded-lg p-4 w-full flex flex-col gap-2 box-border">
    <div class="flex flex-row items-center justify-between gap-3">
        <div class="flex flex-row items-center justify-start gap-3 max-w-[65%]">
          <% if event.logo.attached? %>
            <%= image_tag event.logo, height: 40, class: "rounded", style: "height: 40px; margin: 0px;" %>
          <% end %>
          <h4 class="text-base font-normal m-0 p-0 text-left"><%= event.name %></h4>
        </div>
        <h4 class="text-base font-normal m-0 p-0"><%= render_money(event.balance_v2_cents) %></h4>
    </div>

    <div class="avatar-row py-2">
      <% if event.organizer_positions.size > 13 %>
        <div class="rounded-full text-white justify-center items-center flex tabular-nums" style="width: 24px; height: 24px; font-weight: 300; font-size: 10px; background: #273444; white-space: nowrap;">
          +<%= event.organizer_positions.size - 12 %>
        </div>
      <% end %>
      <% event.organizer_positions.first(event.organizer_positions.size > 13 ? 12 : 13).each do |position| %>
        <%= avatar_for position.user, 24 %>
      <% end %>
    </div>

</div>