<div data-controller="menu" class="inline-flex items-center" data-menu-append-to-value="turbo-frame#ledger" data-menu-placement-value="bottom-start">
  <button
    type="button"
    class="pop my-2 cursor-pointer tooltipped tooltipped--s"
    aria-label="Add filters..."
    data-menu-target="toggle" data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown">
    <%= inline_icon "filter", size: 28 %>
  </button>
  <div class="menu__content menu__content--2 menu__content--compact h5" style="width: 290px; padding: 0.5rem" data-menu-target="content">
    <div data-controller="tabs" data-tabs-default-tab-value="status">
      <button id="status" data-tabs-target="btn" data-action="tabs#select">Status</button>
      <button id="date" data-tabs-target="btn" data-action="tabs#select">Date</button>
      <button id="amount" data-tabs-target="btn" data-action="tabs#select">Amount</button>

      <div class="menu__divider"></div>

      <div data-tabs-target="tab" id="status">
        <%= link_to "Deposited", upsert_query_params(status: "deposited"), class: "menu__action !border-none" %>
        <%= link_to "Refunded", upsert_query_params(status: "refunded"), class: "menu__action !border-none" %>
      </div>

      <div data-tabs-target="tab" id="date">
        <%= form_with(model: nil, local: true, method: :get, class: "flex-auto p1") do |form| %>
          <p class="bold mb0 mt0">Donations after...</p>
          <%= form.date_field :start, class: "border mb1", value: @start_date %>
          <p class="bold mb0 mt0">Donations before...</p>
          <%= form.date_field :end, class: "border mb1", value: @end_date %>
          <% request.query_parameters.except(:start, :end).each do |key, value| %>
            <%= hidden_field_tag key, value %>
          <% end %>
          <%= form.submit "Filter donations" %>
        <% end %>
      </div>

      <div data-tabs-target="tab" id="amount">
        <%= form_with(model: nil, local: true, method: :get, class: "flex-auto p1") do |form| %>
          <p class="bold mb0 mt0">Less than...</p>
          <%= form.number_field :amount_less_than, class: "border mb1", value: @start_date %>
          <p class="bold mb0 mt0">Greater than...</p>
          <%= form.number_field :amount_greater_than, class: "border mb1", value: @end_date %>
          <% request.query_parameters.except(:start, :end).each do |key, value| %>
            <%= hidden_field_tag key, value %>
          <% end %>
          <%= form.submit "Filter donations" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
