<div class="lg:hidden fixed bottom-0 left-0 w-full p-6 z-10 flex justify-center pointer-events-none">
  <div class="rounded-full bg-black text-white px-4 py-2 w-[320px] max-w-full flex items-center pointer-events-auto gap-2 active:scale-90 transition-transform shadow-lg" data-behavior="modal_trigger" data-modal="mobile_nav">
    <%= inline_icon events_mobile_nav(@event, selected: local_assigns[:selected]).find { |e| e[:selected] }&.[](:icon) || "settings", class: "muted" %>
    <span class="text-lg truncate"><%= events_mobile_nav(@event, selected: local_assigns[:selected]).find { |e| e[:selected] }&.[](:name) || "Settings" %></span>
    <%= inline_icon "up-caret", class: "ml-auto muted" %>
  </div>
</div>

<section class="lg:invisible modal modal--scroll modal--popover p-3 bg-transparent shadow-none" style="height: auto;max-height: 80vh" data-behavior="modal" role="dialog" id="mobile_nav">
  <div class="bg-black text-white flex-1 h-full overflow-hidden rounded-xl">
    <div class="h-full overflow-y-auto overflow-x-hidden p-4">
      <% events_mobile_nav(@event, selected: local_assigns[:selected]).each do |item| %>
        <%= dock_item item[:name],
          item[:path],
          tooltip: item[:tooltip],
          icon: item[:icon],
          async_badge: item[:async_badge],
          selected: item[:selected] %>
      <% end %>
      <%= render partial: "events/settings_dropdown" %>
    </div>
  </div>
</section>
