<%= render "events/mobile_nav", selected: local_assigns[:selected] %>
<% content_for(:header) do %>
  <div class="flex gap-3 items-center lg:sticky top-0 lg:py-4 lg:-my-4 lg:z-10 lg:backdrop-blur-lg lg:-mx-4 lg:px-4 lg:-mr-3">
    <%= render partial: "logo" %>
    <span class="-mx-1.5 -mt-1 text-xl opacity-40">/</span>
    <%= render "events/title" %>
  </div>
<% end %>

<% content_for(:nav) do %>
  <% if !@event&.demo_mode? %>
    <%= render partial: "hcb_codes/create_tag", locals: { button: false } %>
  <% end %>

  <nav class="dock hidden sm:flex mt-4 font-medium">
    <% events_nav(@event, selected: local_assigns[:selected]).each do |item| %>
      <% if item[:section] %>
        <span class="mx-1 dock__section"><%= item[:section] %></span>
        <hr class="opacity-40 border-none h-[1px]">
      <% else %>
        <%= dock_item item[:name],
            item[:path],
            tooltip: item[:tooltip],
            icon: item[:icon],
            async_badge: item[:async_badge],
            selected: item[:selected] %>
      <% end %>
    <% end %>
    <%= render partial: "events/settings_dropdown" if signed_in? %>
  </nav>
<% end %>
<% content_for(:container) do %>
<% end %>
