<% content_for(:nav) do %>
  <%= render "events/title" %>
  <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) && !@event&.demo_mode? %>
    <%= render partial: "hcb_codes/create_tag", locals: { button: false } %>
  <% end %>

  <div>
    <% admin_tool("m0 p0 badge mb2", "span") do %>
      <span class="m0 badge bg-muted pointer" data-controller="clipboard" data-clipboard-text-value="<%= @event.name %>" data-action="click->clipboard#copy">
        copy event name
      </span>
    <% end %>
  </div>
  <nav class="dock dock--desktop mt2 font-medium">
    <%= dock_item "Transactions",
      event_path(id: @event.slug),
      tooltip: "View your transactions",
      icon: "transactions",
      selected: local_assigns[:selected] == :transactions %>
    <%= dock_item "Breakdown",
      event_breakdown_path(event_id: @event.slug),
      tooltip: "Breakdown",
      icon: "grid",
      selected: local_assigns[:selected] == :breakdown if policy(@event).breakdown? %>
    <% if policy(@event).activation_flow? %>
      <%= dock_item "Activate",
          event_activation_flow_path(event_id: @event.slug),
          tooltip: "Activate This Organization",
          admin: true,
          icon: "checkmark",
          selected: local_assigns[:selected] == :activation_flow %>
      <% end %>
    <br>
    <h4 class="mb0 h5 muted">Receive</h4>
    <%= dock_item "Donations",
      @event&.partner&.external? ? event_partner_donation_overview_path(event_id: @event.slug) :
        event_donation_overview_path(event_id: @event.slug),
      tooltip: "Receive donations online",
      icon: "support",
      data: { tour_step: "donations" },
      selected: local_assigns[:selected] == :donations if @event.approved? %>
    <%= dock_item "Invoices",
      event_invoices_path(event_id: @event.slug),
      tooltip: "Collect sponsor payments",
      icon: "briefcase",
      selected: local_assigns[:selected] == :invoices if @event.approved? %>
    <%= dock_item "Deposit a check",
      event_check_deposits_path(@event),
      tooltip: "Deposit checks",
      icon: "cheque",
      selected: local_assigns[:selected] == :deposit_check if Flipper.enabled?(:check_deposits_2023_04_17, @event) && organizer_signed_in? %>
    <%= dock_item "Bank account numbers",
      account_number_event_path(@event),
      tooltip: "Receive payouts from GoFundMe, Shopify, Venmo, and more",
      icon: "bank-account",
      selected: local_assigns[:selected] == :account_number if Flipper.enabled?(:incoming_ach_payments_2023_02_17, @event) && policy(@event).account_number? && organizer_signed_in? %>
    <br>
    <h4 class="mb0 h5 muted">Spend</h4>
    <%= dock_item "Cards",
      event_cards_overview_path(event_id: @event.slug),
      tooltip: "Manage team debit cards",
      icon: "card",
      data: { tour_step: "cards" },
      selected: local_assigns[:selected] == :cards if @event.approved? %>
    <%= dock_item "Transfers",
      event_transfers_path(event_id: @event.slug),
      tooltip: "Send & transfer money",
      icon: "payment-transfer",
      selected: local_assigns[:selected] == :transfers %>
    <%= dock_item "Reimbursements",
      event_reimbursements_path(event_id: @event.slug),
      async_badge: event_reimbursements_pending_review_icon_path(@event),
      tooltip: "Reimburse team members & volunteers",
      icon: "attachment",
      selected: local_assigns[:selected] == :reimbursements if policy(@event).reimbursements? %>
    <%= dock_item "Grants",
      event_grants_path(@event),
      tooltip: "Send & manage grants",
      icon: "idea",
      selected: local_assigns[:selected] == :grants if Flipper.enabled?(:grants_2023_06_21, @event) %>
    <br>
    <%= dock_item "Perks",
      event_promotions_path(event_id: @event.slug),
      tooltip: (!policy(@event).promotions? ? "Your account isn't eligble for receive promos & discounts" : "Receive promos & discounts"),
      icon: "shirt",
      data: { tour_step: "perks" },
      disabled: !policy(@event).promotions?,
      selected: local_assigns[:selected] == :promotions if @event.approved? %>
    <%= dock_item "Documents",
      event_documentation_path(event_id: @event.slug),
      tooltip: "View legal documents, financial statements, and FAQ",
      icon: "docs",
      selected: local_assigns[:selected] == :documentation %>
     <details class="dock" <%= "open" if [:settings, :google_workspace, :team].include?(local_assigns[:selected]) %>>
      <summary class="dock__item bg-none">
          <%= inline_icon "settings", class: "settings-icon" %>
          Settings
          <%= inline_icon "up-caret", class: "drawer-chevron" %>
      </summary>
      <%= dock_item "Organisation details",
         edit_event_path(@event, tab: "details"),
        tooltip: "Manage your team",
        selected: @settings_tab == "details" || (@settings_tab.nil? && local_assigns[:selected] == :settings),
        data: { turbo: true, turbo_action: "advance" } %>
      <%= dock_item "Team",
        event_team_path(event_id: @event.slug),
        tooltip: "Manage your team",
        selected: local_assigns[:selected] == :team,
        data: { turbo: true, turbo_action: "advance" } %>
      <% unless @event.unapproved? %>
        <%= dock_item "Donations",
            edit_event_path(@event, tab: "donations"),
            tooltip: "Manage your team",
            selected: @settings_tab == "donations",
            data: { turbo: true, turbo_action: "advance" } %>
        <%= dock_item "Reimbursements",
            edit_event_path(@event, tab: "reimbursements"),
            tooltip: "Manage your team",
            selected: @settings_tab == "reimbursements",
            data: { turbo: true, turbo_action: "advance" } %>
        <% if @event.card_grant_setting.present? %>
            <%= dock_item "Card grants",
                edit_event_path(@event, tab: "card_grants"),
                tooltip: "Manage card grants",
                selected: @settings_tab == "card_grants",
                data: { turbo: true, turbo_action: "advance" } %>
        <% end %>
      <% end %>
      <%= dock_item "Google Workspace",
        event_g_suite_overview_path(event_id: @event.slug),
        tooltip: "Manage your team",
        selected: local_assigns[:selected] == :google_workspace,
        data: { turbo: true, turbo_action: "advance" } %>
      <%= dock_item "Feature previews",
        edit_event_path(@event, tab: "features"),
        tooltip: "Manage your team",
        selected: @settings_tab == "features",
        data: { turbo: true, turbo_action: "advance" } %>
      <%= dock_item "Audit log",
        edit_event_path(@event, tab: "audit_log"),
        tooltip: "See how your org has changed",
        selected: @settings_tab == "audit_log",
        data: { turbo: true, turbo_action: "advance" } %>
      <%= dock_item "Admin",
        edit_event_path(@event, tab: "admin"),
        admin: true,
        tooltip: "See how your org has changed",
        selected: @settings_tab == "admin",
        data: { turbo: true, turbo_action: "advance" } %>
    </details>
  </nav>
  <nav class="dock dock--mobile">
    <%= dock_item "Transactions",
      event_path(id: @event.slug),
      icon: "transactions",
      selected: local_assigns[:selected] == :transactions %>
    <button class="dock__item <%= "dock__item--selected" if local_assigns[:selected].in? [:donations, :invoices, :account_number, :deposit_check] %> bg-transparent border-none menu__toggle" data-behavior="menu_toggle" data-tour-step="receive">
      <div class="line-height-0 relative"><%= inline_icon "support", size: 32, class: "primary" %></div>
      <span class="line-height-3">Receive</span>

      <div class="menu__content" data-behavior="menu_content">
        <h4 class="mb0 h5 muted left-align pl1 mt1">Receive</h4>
        <div class="menu__divider"></div>
        <%= link_to "Donations", event_donation_overview_path(@event) %>
        <%= link_to "Invoices", event_invoices_path(@event) %>
        <%= link_to "Account numbers", account_number_event_path(@event) if Flipper.enabled?(:incoming_ach_payments_2023_02_17, @event) %>
        <%= link_to "Check deposits", event_check_deposits_path(@event) if Flipper.enabled?(:check_deposits_2023_04_17, @event) %>
      </div>
    </button>
    <button class="dock__item <%= "dock__item--selected" if local_assigns[:selected].in? [:cards, :transfers] %> bg-transparent border-none menu__toggle" data-behavior="menu_toggle" data-tour-step="spend">
      <div class="line-height-0 relative"><%= inline_icon "card", size: 32, class: "primary" %></div>
      <span class="line-height-3">Spend</span>

      <div class="menu__content" data-behavior="menu_content">
        <h4 class="mb0 h5 muted left-align pl1 mt1">Spend</h4>
        <div class="menu__divider"></div>
        <%= link_to "Cards", event_cards_overview_path(@event) %>
        <%= link_to "Transfers", event_transfers_path(@event) %>
        <%= link_to "Reimbursements", event_reimbursements_path(@event) if policy(@event).reimbursements? %>
      </div>
    </button>
    <div class="dock__overflow">
      <action type="button" class="pop primary menu__toggle" data-behavior="menu_toggle" aria-expanded="false" tabindex="0">
        <%= inline_icon "more" %>
        <div class="menu__content" data-behavior="menu_content">
          <%= link_to "Team", event_team_path(event_id: @event.slug) %>
          <%= link_to "Promotions & perks", event_promotions_path(event_id: @event.slug) if policy(@event).promotions? %>
          <%= link_to "Google Workspace", event_g_suite_overview_path(event_id: @event.slug) if policy(@event).g_suite_overview? %>
          <%= link_to "Documents", event_documentation_path(event_id: @event.slug) %>
          <%= link_to "Settings", edit_event_path(@event) %>
        </div>
      </action>
    </div>
  </nav>
<% end %>
<% content_for(:container) do %>
<% end %>
