<%= render "events/mobile_nav", selected: local_assigns[:selected] %>
<% content_for(:header) do %>
  <div class="flex gap-3 items-center">
    <%= render partial: "logo" %>
    <span class="-mr-1.5 -ml-1 text-xl opacity-40">/</span>
    <%= render "events/title" %>
  </div>
<% end %>

<% content_for(:nav) do %>
  <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) && !@event&.demo_mode? %>
    <%= render partial: "hcb_codes/create_tag", locals: { button: false } %>
  <% end %>

  <div>
    <% admin_tool("m0 p0 badge my-2", "span") do %>
      <span class="m0 badge bg-muted pointer" data-controller="clipboard" data-clipboard-text-value="<%= @event.name %>" data-action="click->clipboard#copy">
        copy event name
      </span>
    <% end %>
  </div>
  <nav class="dock hidden sm:flex mt-2 font-medium">
    <% events_mobile_nav(@event, selected: local_assigns[:selected]).each do |item| %>
      <%= dock_item item[:name],
          item[:path],
          tooltip: item[:tooltip],
          icon: item[:icon],
          async_badge: item[:async_badge],
          selected: item[:selected] %>
    <% end %>
    <%= render partial: "events/settings_dropdown" %>
  </nav>
<% end %>
<% content_for(:container) do %>
<% end %>
