<article class="card p2 relative flex g2 flex-column">
  <div class='flex items-center justify-between'>
    <%= avatar_for position.user, 48 %>
    <div class='flex g2 items-center'>
      <div class="tooltipped tooltipped--w" aria-label="Edit <%= position.user.safe_name %>'s global settings">
        <% admin_tools("p0 circle line-height-0") do %>
          <%= pop_icon_to "controls", edit_user_path(position.user.slug), data: { turbo_frame: "_top" } if position.user == current_user || admin_signed_in? %>
        <% end %>
      </div>
      <div class="tooltipped tooltipped--w" aria-label="Impersonate <%= position.user.safe_name %>">
        <% admin_tools("p0 circle line-height-0") do %>
          <%= pop_icon_to "spy", impersonate_users_path(user_id: position.user.id, return_to: request.url), data: { turbo_frame: "_top" } if position.user == current_user || admin_signed_in? %>
        <% end %>
      </div>
      <% if organizer_signed_in? && position.user != current_user %>
        <div class="tooltipped tooltipped--w" aria-label="Remove <%= position.user.safe_name %> from <%= @event.name %>">
          <%= pop_icon_to "member-remove", new_organizer_remove_path(organizer_id: position.id), class: "error", data: { turbo_frame: "_top" } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex items-center g3 w-fit">
    <p class="m0 p0" style="font-size: 1.8rem; font-weight: 800; line-height: 1"><%= position.user.full_name || "Unnamed" %></p>

    <% if organizer_signed_in? %>
      <div class="flex items-center g2">
        <div class="copyable tooltipped tooltipped--e" data-copy="<%= position.user.email %>" aria-label="Copy <%= position.user.email %>" style="height: fit-content; line-height: 0;">
          <%= inline_icon "email", size: 24, class: "muted" %>
        </div>
        <% if current_user&.admin? %>
          <div class="copyable tooltipped tooltipped--e" data-copy="<%= position.user.pretty_phone_number(international: true) %>" aria-label="Copy <%= position.user.pretty_phone_number(international: true) %>" style="height: fit-content; line-height: 0;">
            <%= inline_icon "message-simple-new", size: 24, class: "admin" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <script>
      for (const field of document.getElementsByClassName("copyable")) {
        field.onclick = async () => await navigator.clipboard.writeText(field.dataset.copy);
      }
    </script>
  </div>

  <a href="/team" class="info m0">
    <span>Manager</span>
    <span>|</span>
    <span>No spending limit</span>
  </a>

  <%= creator_bar_new position.organizer_position_invite, prefix: "Invited", style: "m0" %>

  <% if current_user&.admin? %>
    <div
      class="absolute bottom-0 right-0 line-height-0 p2 tooltipped tooltipped--w"
      aria-label="<%= position.signee? ? "Contract signee" : "No contract signature" %>"
    >
      <%= inline_icon position.signee? ? "docs-positive" : "docs-negative", size: 24 %>
    </div>
  <% end %>
</article>
