<article class="card p2 relative flex g1 flex-column">
  <div class='flex items-center justify-between'>
    <%= avatar_for position.user, 48 %>
    <div class='flex g2 items-center'>
      <% admin_tools("p0 circle line-height-0") do %>
        <%= pop_icon_to "controls", edit_user_path(position.user.slug), data: { turbo_frame: "_top" } if position.user == current_user || admin_signed_in? %>
      <% end %>
      <% admin_tools("p0 circle line-height-0") do %>
        <%= pop_icon_to "spy", impersonate_users_path(user_id: position.user.id, return_to: request.url), data: { turbo_frame: "_top" } if position.user == current_user || admin_signed_in? %>
      <% end %>
      <%= pop_icon_to "member-remove", new_organizer_remove_path(organizer_id: position.id), class: "error", data: { turbo_frame: "_top" }, disabled: !organizer_signed_in? unless position.user == current_user %>
    </div>
  </div>

  <div class="flex items-baseline g3 w-fit">
    <p class="m0 p0" style="font-size: 1.8rem; font-weight: 800; line-height: 1"><%= position.user.full_name || "Unnamed" %></p>
    <div class="info">Manager</div>
  </div>

  <div class="inline-flex items-baseline g2">
    <span><%= organizer_signed_in? ? position.user.email : "Sign in to view email" %></span>
    <p class="comment__name muted m0"><%= position.user.pretty_phone_number(international: true) %></p>
  </div>

  <%= creator_bar_new position.organizer_position_invite, prefix: "Invited", style: "m0" %>

  <% if current_user&.admin? %>
    <div class="absolute bottom-0 right-0 line-height-0 p2">
      <% if position.signee? %>
        <%= inline_icon "docs-positive", size: 24 %>
      <% else %>
        <%= inline_icon "docs-negative", size: 24 %>
      <% end %>
    </div>
  <% end %>
</article>
