<div class="muted">
  <% @event.ancestors[1..].each do |ancestor| %>
    <%= link_to ancestor.name, ancestor, class: "no-underline hover:underline" %> /
  <% end %>
</div>

<div data-controller="menu">
  <%= link_to @event, class: "#{"pointer-events-none" unless signed_in?} #{"mt-0" if @event.parent_id.present?} text-decoration-none gap-2 text-inherit event-title -ml-4 my-2 px-2 rounded-lg transition-colors flex items-center tracking-tight hover:text-primary", style: "font-weight: 600; word-break: break-word;", data: ({ action: "click->menu#toggle click@document->menu#close keydown@document->menu#keydown", menu_target: "toggle" } if show_org_switcher?) do %>
    <%= @event.name %>
    <%= inline_icon "down-caret", class: "event-title-dropdown-icon" if show_org_switcher? %>
  <% end %>
  <% if show_org_switcher? %>
    <div class="menu__content menu__content--switcher sm:w-[275px] z-[11] !rounded-xl" data-menu-target="content" style="bottom:unset!important">
      <% admin_tool("p0 mb1") do %>
        <button class="menu__action" data-controller="clipboard" data-clipboard-text-value="<%= @event.name %>" data-action="click->clipboard#copy">
          <%= inline_icon "copy", size: 24 %>
          Copy org name
        </button>
      <% end %>
      <p class="muted font-medium h5 pl-2 p-1 m0">Switch organizations</p>
      <% events = current_user.events.not_hidden.excluding(@event).with_attached_logo %>
      <% events.map do |event| %>
        <%= link_to event, title: event.name, class: "gap-2" do %>
          <% if event.logo.attached? %>
            <%= image_tag event.logo, height: 24, width: 24, class: "rounded" %>
          <% elsif events.all? { |e| !e.logo.attached? } %>
            <%# Show no placeholder %>
          <% else %>
            <div style="height: 24px; width: 24px;" class="bg-neutral-500/20 rounded shrink-none"></div>
          <% end %>
          <span class="truncate"><%= event.name %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
