<div data-controller="menu" class="flex-1 min-w-0 w-full">
  <%= link_to @event, class: "#{"pointer-events-none" unless signed_in?} text-inherit flex block hover:text-primary focus:text-primary items-center w-full gap-1 -ml-1 p-2 rounded-lg text-decoration-none text-lg font-bold", data: ({ action: "click->menu#toggle click@document->menu#close keydown@document->menu#keydown", menu_target: "toggle" } if show_org_switcher?) do %>
    <span class="truncate min-w-0"><%= @event.name %></span>
    <%= inline_icon "down-caret", size: 24 if show_org_switcher? %>

  <% end %>
  <% if show_org_switcher? %>
    <div class="menu__content menu__content--switcher w-[90vw] lg:w-[275px] z-10 ml-10 lg:-ml-2" data-menu-target="content" style="bottom:auto;border-radius: 10px;padding-bottom: 10px">
      <p class="muted font-[800] text-sm mb-0 uppercase m-1">Organizations</p>
      <% current_user.events.not_hidden.excluding(@event).with_attached_logo.map do |event| %>
        <%= link_to event, title: event.name, class: "gap-2" do %>
          <% if event.logo.attached? %>
            <%= image_tag event.logo, height: 24, width: 24, class: "rounded" %>
          <% else %>
            <div style="height: 24px; width: 24px;" class="bg-neutral-500/30 rounded shrink-none"></div>
          <% end %>
          <span class="truncate"><%= event.name %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
