<div data-controller="menu" class="pt2">
  <%= link_to @event, class: "text-decoration-none text-xl gap-4 text-inherit event-title -m-2 px-2 mb-2 rounded-lg hover:bg-gray-100 transition-colors active:bg-gray-200 flex items-center", style: "font-weight: 800", data: ({ action: "click->menu#toggle click@document->menu#close keydown@document->menu#keydown", menu_target: "toggle" } if show_org_switcher?) do %>
    <%= @event.name %>
    <%= inline_icon "expand-more", size: 24 if show_org_switcher? %>
  <% end %>
  <% if show_org_switcher? %>
    <div class="menu__content menu__content--switcher sm:w-[275px]" data-menu-target="content">
      <p class="muted font-black text-sm mb-0 uppercase m-1">Account</p>
      <a data-behavior="toggle_theme" class="gap-2">
        <%= inline_icon "moon", size: 24 %>
        <%= inline_icon "moon-fill", size: 24, style: "display: none;" %>
        <span>Toggle theme</span>
      </a>

      <%= link_to logout_users_path, class: "gap-2", method: :delete do %>
        <%= inline_icon "door-leave", size: 24 %>
        <span>Sign out</span>
      <% end %>

      <p class="muted font-black text-sm mb-0 uppercase m-1 mt-2">Organziations</p>
      <% current_user.events.not_hidden.with_attached_logo.map do |event| %>
        <%= link_to event, title: event.name, class: "gap-2" do %>
          <% if event.logo.attached? %>
            <%= image_tag event.logo, height: 24, width: 24, class: "rounded" %>
          <% else %>
            <div style="height: 24px; width: 24px;" class="bg-gray-200 rounded shrink-none"></div>
          <% end %>
          <span class="truncate"><%= event.name %></span>
          <%# <span class="muted h6 ml-auto">
            < %= turbo_frame_tag "event_balance_#{event.public_id}", src: event_async_balance_path(event, symbol: true), loading: :lazy do % >
              -
            < % end % >
          </span> 
          %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
