
<%= turbo_frame_tag "event_transactions_#{@event.public_id}" do %>
  <div data-tour-step="transactions" style="border-radius: 0.5rem;">
    <table>
    <% cache_if !organizer_signed_in? do %>
        <tbody data-behavior="transactions">
        <% cache_if !organizer_signed_in? do %>
            <%= render "pending_fee_transaction" if @event.fronted_fee_balance_v2_cents > 0 %>
            <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", collection: @pending_transactions, as: :pt, locals: { event: @event, show_amount: true, selectable: Flipper.enabled?(:transaction_tags_2022_07_29, @event) && @event.tags.size > 0 } %>
            <%= render partial: "canonical_transactions/canonical_transaction", collection: @transactions, as: :ct, locals: { event: @event, show_amount: true, selectable: Flipper.enabled?(:transaction_tags_2022_07_29, @event) && @event.tags.size > 0, pt_count: @pending_transactions.count } %>
        <% end %>
        </tbody>
    <% end %>
    </table>
  </div>
  <%= paginate @transactions %>
<% end %>
