<% title "Card grants for #{@event.name}" %>
<% page_md %>
<%= render "nav", selected: :card_grants %>
<%= render "card_grants/create_modal" %>

<% @show_card_popovers = Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && organizer_signed_in? && !@event.demo_mode %>
<% if current_user.try(:full_name).try(:blank?) %>

  <h1 class="heading">
    <span class="flex items-center">
      Card grants
    </span>
  </h1>

  <%= render "cards/name_required" %>
<% else %>

  <h1 class="flex heading items-center">
    <span class="flex-grow flex items-center flex-1">
      Card grants
      <%= badge_for @event.card_grants.active.count, class: "bg-muted" %>
    </span>

    <%= pop_icon_to @view == "list" ? "grid" : "list",
                    "?view=#{@view == 'list' ? 'grid' : 'list'}#{"&q=#{@q}" if @q}#{"&status=#{@status}" if @status}" %>
    <% if organizer_signed_in?(as: :member) %>
      <%= link_to new_event_card_grant_path(@event), class: "btn bg-success", data: { behavior: "modal_trigger", modal: "create_card_grant" } do %>
        <%= inline_icon "card-add" %>
        Send a grant
      <% end %>
    <% end %>
  </h1>

  <% if @view == "list" %>
    <%= render "event_cards_table", stripe_cards: @paginated_stripe_cards %>
  <% else %>
    <article class="mixed-grid grid--spacious">
      <%= render partial: "stripe_cards/stripe_card", collection: @paginated_stripe_cards %>
    </article>

    <% if @paginated_stripe_cards.blank? %>
      <% if organizer_signed_in? %>
        <%= blankslate "You don't have any card grants yet." %>
      <% else %>
        <%= blankslate "This organization doesn't have any card grants" %>
      <% end %>
    <% end %>
  <% end %>

  <div class="table-container">
  <table>
    <tbody data-behavior="transactions">
      <% @hcb_codes.order(created_at: :desc).each do |hcb_code| %>
        <% if hcb_code.canonical_transactions.any? %>
          <%= render partial: "canonical_transactions/canonical_transaction", locals: { ct: hcb_code, force_display_details: true } %>
        <% else %>
          <%= render partial: "canonical_pending_transactions/canonical_pending_transaction", collection: hcb_code.canonical_pending_transactions, as: :pt %>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= paginate @paginated_hcb_codes %>
  </div>
<% end %>
