<% title "#{@event.name} Settings" %>
<% page_md %>
<%= render "nav", selected: :settings %>

<h1>Settings</h1>

<% admin_tool do %>
  <strong>Event slug history:</strong> <%= @event.slugs.pluck(:slug).join ", " %>
<% end %>

<%= render partial: "admin_viewer", locals: { record: @event } %>

<% admin_tool do %>
  <details>
    <summary>Audit log</summary>

    <%= turbo_frame_tag :audit_log, src: audit_log_event_path(@event), loading: :lazy do %>
      <p class="center muted mt3 h3">One moment...</p>
    <% end %>
  </details>
<% end %>


<% non_manager_count = @event.organizer_positions.where.not(role: :manager).count %>
<% non_manager_invite_count = @event.organizer_position_invites.pending.where.not(role: :manager).count %>

<% feature_previews = [
  { flipper: :user_permissions_2024_03_09, title: "User roles", shipped: false, id: "feature-user-permissions", desc: "Disallow certain users from performing critical financial actions! #{link_to "Read more about user roles here", roles_path}", turbo_confirm: non_manager_count > 0 || non_manager_invite_count > 0 ? "⚠️ You have #{non_manager_count} non-manager user#{"s" unless non_manager_count == 1} #{"and #{non_manager_invite_count} non-manager pending user i    nvite#{"s" unless non_manager_invite_count == 1} " if non_manager_invite_count > 0}in your org ⚠️\n\nDisabling the user permissions feature will turn them into #{non_manager_count + non_manager_invite_count > 1 ? "managers" : "a manager"}.     Are you sure you want to disable this feature?" : nil },
  { flipper: :reimbursements_2024_03_10, title: "Reimbursements", shipped: false, id: "feature-reimbursements", desc: "Reimburse team members and volunteers directly through HCB!" },
  { flipper: :transaction_tags_2022_07_29, title: "Transaction tags", shipped: false, id: "feature-transaction-tags", desc: "Categorize and filter transactions using tags!" },
  { flipper: :anonymous_donations_2024_01_29, title: "Anonymous donations", shipped: false, id: "feature-anonymous-donations", desc: "Allow donors to appear anonymously in Transparency Mode!" }
] %>

<% settings = [
  { title: "Feature previews", id: "feature-previews", icon: "rep", preview: "#{feature_previews.map {|f| Flipper.enabled?(f[:flipper])}.count} features enabled" },
  { title: "Organization profile", id: "org-profile", icon: "flag", preview: "#{@event.website}", partial: "events/settings_forms/organization_profile" },
  { title: "Donations", id: "donations", icon: "support", preview: "#{@event.donation_page_enabled ? "Enabled" : "Disabled"}", partial: "events/settings_forms/donations" },
  { title: "Reimbursements", id: "reimbursements", icon: "attachment", preview: "#{@event.public_reimbursement_page_enabled ? "Enabled" : "Disabled"}", partial: "events/settings_forms/reimbursements" },
  { title: "Transparency mode", id: "transparency-mode", icon: "view", preview: "#{@event.is_public ? "Enabled" : "Disabled"}", partial: "events/settings_forms/transparency_mode" },
  { title: "Danger zone", id: "danger-zone", icon: "important", partial: "events/settings_forms/danger_zone", class: "border b--warning" }
] %>

<%= render "callout", type: "info", title: "#{@event.name} #{@event.prepositioned_plan_name}." do %>
  <p class="m0">
    <% unless @event.demo_mode? %>
      The fee on revenue is <%= number_to_percentage(@event.sponsorship_fee_in_database * 100, significant: true, strip_insignificant_zeros: true) %>.
      <% if @event.high_school_hackathon? && @event.sponsorship_fee == 0 %>
        Your <%= link_to "fee waiver", "https://changelog.hcb.hackclub.com/bank-now-provides-free-durian-241524" %>
        expires December 31st, 2024.
      <% end %>
    <% end %>
  </p>
<% end %>

<article class="mixed-grid grid--spacious">
  <% settings.each do |setting| %>
    <%= link_to "#", data: { behavior: "modal_trigger", modal: "#{setting[:id]}" }, class: "card flex justify-between" do %>
      <div class="flex flex-col">
        <p class="bold black"><%= setting[:title] %></p>
        <p class="muted"><%= setting[:preview] %></p>
      </div>
      <%= inline_icon setting[:icon] %>
    <% end %>
  <% end %>
</article>

<div data-behavior="modal" role="dialog" id="feature-previews" class="modal modal--scroll bg-snow">
  <%= modal_header "Feature previews" %>

  <div class="flex flex-col g2"> 
    <% feature_previews.each do |f| %>
      <div class="card">
        <div class="card__banner card__banner--top flex justify-between items-center <%= f[:id] %>">
          <h3 class="h1 pt2 pb2 my0 color-black"><%= f[:title] %></h3>

          <% if Flipper.enabled?(f[:flipper]) %>
            <div class="actions tooltipped tooltipped--w inline-block mt1" aria-label="This feature is now generally available!">
              <span class="btn bg-accent disabled">Shipped!</span>
            </div>     
          <% elsif @event.demo_mode? %>
            <div class="actions tooltipped tooltipped--w inline-block mt1" aria-label="Not available in demo mode.">
              <span class="btn bg-accent disabled">Enable</span>
            </div>
          <% elsif Flipper.enabled?(f[:flipper], @event) %>
            <%= link_to "Disable",
              disable_feature_event_path(feature: f[:flipper]),
              method: :post,
              class: "btn bg-accent #{"disabled" unless policy(@event).enable_feature?} tooltipped tooltipped--w",
              "aria-label": "Only managers can disable feature previews." %>
          <% else %>
            <%= link_to "Enable",
              enable_feature_event_path(feature: f[:flipper]),
              method: :post,
              class: "btn bg-info #{"disabled" unless policy(@event).enable_feature?} tooltipped tooltipped--w",
              "aria-label": "Only managers can enable feature previews." %>
          <% end %>
        </div>
        <p class="m0"><%= f[:desc].html_safe %></p>
      </div>
    <% end %>
  </div>
</div>

<% settings.each do |setting| %>
  <% if setting[:partial] %>
    <div data-behavior="modal" role="dialog" id="<%= setting[:id] %>" class="modal modal--scroll bg-snow <%= setting[:class] %>">
      <%= modal_header setting[:title] %>
      <%= form_with(model: @event) do |form| %>
        <%= render setting[:partial], event: @event, form: %>
      <% end %>
    </div>
  <% end %>
<% end %>