<% title "#{@event.name} Settings" %>
<% page_md %>
<%= render "nav", selected: :settings %>

<h1>
    Settings<br>
    <span class="muted h1"><%= @settings_tab.titleize %></span>
</h1>

<%= render "events/settings/account_info", event: @event %>

<% if @settings_tab == "features" %>
  <%= render "events/settings/features", event: @event %>
<% elsif @settings_tab == "donations" %>
  <%= render "events/settings/donations", event: @event %>
<% elsif @settings_tab == "reimbursements" %>
  <%= render "events/settings/reimbursements", event: @event %>
<% elsif @settings_tab == "card_grants" %>
  <%= render "events/settings/card_grants", event: @event %>
<% elsif @settings_tab == "audit_log" %>
  <%= render "events/settings/audit_log", event: @event %>
<% elsif @settings_tab == "admin" && admin_signed_in? %>
  <%= render "events/settings/admin", event: @event %>
<% else %>
  <%= render "events/settings/details", event: @event %>
<% end %>
