<style>
  main { max-width: none !important; max-height: none; width: 100%; height: 100%; }
  body { padding-bottom: 0; height: 100%; }
</style>

<%= render "watermark" %>

<div class="flex flex-col md:flex-row h-screen w-full g2 md:g4 px-4">
    <div class="flex-1 h-full py-3 md:py-8 flex flex-col justify-between">
      <div class="flex-grow">
        <% if params[:ref] == "site" %>
          <%= link_to "https://hackclub.com/fiscal-sponsorship", class: "flex items-center g1 no-underline" do %>
            <%= inline_icon "inserter", class: "rotate-180" %>
            <span>Back to hackclub.com</span>
          <% end %>
        <% end %>

        <h1 class="border-none" style="font-weight: 800">
          Apply to join<br>
          <span class="inline-flex g2">
            <%= image_tag "logo-production-dark.svg", width: 64, class: "logo-dark" %>
            <%= image_tag "logo-production.svg", width: 64, class: "logo" %>
            HCB
          </span>
        </h1>
      </div>

      <div>
        <div>
          <h2 class="border-none">HCB is a <%= link_to "fiscal sponsor", "https://en.wikipedia.org/wiki/Fiscal_sponsorship", class: "link--primary" %></h2>
          <ul>
            <li>Nonprofit status.</li>
            <li>Tax-deductible donations.</li>
          </ul>
        </div>

        <div>
          <h2 class="border-none">HCB provides a financial platform</h2>
          <ul>
            <li>A donations page and invoicing system.</li>
            <li>Transfer money electronically.</li>
            <li>Order cards for you and your team to make purchases.</li>
          </ul>
        </div>

        <div>
          <h2 class="border-none">HCB is not a bank</h2>
          <ul>
            <li>We partner with <%= link_to "Column Bank", "https://column.com", class: "link--primary" %> to offer a restricted fund to fiscally-sponsored projects.</li>
            <li>You can't deposit or withdraw cash. But you can receive any kind of electronic payment!</li>
            <li>HCB is not for for-profits.</li>
            <li>If you’re looking to set up a for-profit entity, consider <%= link_to "Stripe Atlas", "https://stripe.com/atlas", class: "link--primary" %>.
          </ul>
        </div>

        <div class="card inline-flex g1 items-center mt2">
          <%= inline_icon "message" %>
          <p class="m0">Questions? Email  <%= help_email %>. or call <%= help_phone %>.
        </div>
      </div>
    </div>

    <div class="flex-1 h-full py-3 md:py-8">
      <div class="h-full card overflow-y-scroll">
        <%= render "form" %>
      </div>
    </div>
</div>
