<% title "Products by #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :products %>

<h1 class="heading">
  <span class="flex items-center">
    Products
    <%= badge_for @products.count, class: "bg-muted" %>
  </span>
  
  <%= link_to "#", data: { behavior: "modal_trigger", modal: "create" }, class: "btn" do %>
    <%= inline_icon "plus" %>
    Create a Product
  <% end %>
</h1>


<section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="create">
  <%= modal_header "Create a Product" %>
  <%= form_with(model: @product, url: products_create_path) do |form| %>
    <div class="field">
      <%= form.label :name, "Product Name" %>
      <%= form.text_field :name, class: "field", placeholder: "Snazzy Octopus T-Shirt" %>
    </div>
  
    <div class="field">
      <%= form.label :amount, "Cost (USD)" %>
      <div class="flex items-center mt1 mb2">
        <span class="bold muted" style="width: 1rem">$</span>
        <input placeholder="20.00"
                step="0.01"
                min="0.01"
                type="number"
                name="amount"
       />
      </div>
    </div>
  
    <%= form.hidden_field :event_id, value: @event.id %>
  
    <div>
      <%= form.submit 'Create Product' %>
    </div>
  <% end %>
</section>

<% if @products.size > 0 %>
<article class="table-container">

  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>COST</th>
        <th>SHORT URL</th>
        <th>ACTIONS</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |p| %>
        <tr>
          <td>
            <%= p.name %>
          </td>
          <td>
            <%= render_money(p.amount) %>
          </td>
          <td>
            <%= link_to "https://hcb.hackclub.com/buy/#{p.id}" do %>
              hcb.hackclub.com/buy/<%= p.id %>
            <% end %>
          </td>
          <td class="flex" style="gap: 8px">
            <%= link_to "#", data: { behavior: "modal_trigger", modal: "edit_#{p.id}" } do %>
              Edit
            <% end %>
            
            <%= link_to products_delete_path(p), method: :delete, title: "Delete this product", form: { "data-turbo" => "true", "data-turbo-confirm" => "Are you sure you'd like to delete this product?" } do %>
              Delete
            <% end %>
          </td>
        </tr>
        
        <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="edit_<%= p.id %>">
          <%= modal_header "Edit #{p.name}" %>
          <%= form_with(model: @product, url: products_update_path) do |form| %>
            <div class="field">
              <%= form.label :name, "Product Name" %>
              <%= form.text_field :name, class: "field", placeholder: "Snazzy Octopus T-Shirt", value: p.name %>
            </div>
          
            <div class="field">
              <%= form.label :amount, "Cost (USD)" %>
              <div class="flex items-center mt1 mb2">
                <span class="bold muted" style="width: 1rem">$</span>
                <input placeholder="20.00"
                        step="0.01"
                        min="0.01"
                        type="number"
                        name="amount"
                        value="<%= p.amount.to_f / 100 %>"
               />
              </div>
            </div>
          
            <%= form.hidden_field :id, value: p.id %>
          
            <div>
              <%= form.submit 'Update' %>
            </div>
          <% end %>
        </section>
      <% end %>
    </tbody>
  </table>

</article>

<% else %>
  <%= blankslate "Ready to start selling something?" %>
<% end %>
