<% title "Reimbursements for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :reimbursements %>

<h1 class="heading">
  Reimbursements
  <%= link_to "https://app.expensify.com/", class: "btn", target: "_blank" do %>
    <%= inline_icon "external" %>
    Don't Open Expensify
  <% end %>
</h1>

<% if @reports.blank? %>
  <%= blankslate "No reports found!" %>
<% else %>
  <article class="table-container">
    <table>
      <thead>
      <tr>
        <th>Report</th>
        <th>Created at</th>
        <th>Submitted by</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td>
              <%= report.name %>
            </td>
            <td>
              <%= report.created_at.strftime("%m-%d-%Y") %>
            </td>
            <td>
               <%= user_mention report.user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
<% end %>
