<% title "Reimbursements for #{@event.name}" %>
<% page_md %>
<%= render "events/nav", selected: :reimbursements %>

<h1 class="heading">
  Reimbursements
  <%= link_to "#", class: "btn", data: { behavior: "modal_trigger", modal: "create" } do %>
    <%= inline_icon "docs" %>
    New
  <% end %>
</h1>

<section data-behavior="modal" role="dialog" id="create" class="modal modal--scroll bg-snow">
  <%= form_with(model: Reimbursement::Report, class: "mb3", style: "max-width: 600px;", method: :post) do |form| %>
    <%= modal_header "Open a Report" %>
    <%= form.label :report_name, "Report Name", class: "bold" %>
    <%= form.text_field :report_name, placeholder: "Chicago Trip Expenses", required: true %>
    <%= form.label :maximum_amount, "Maximum Reimbursable Value (Optional)", class: "mt2 bold" %>
    <div class="field">
      <div class="flex items-center">
        <span class="bold muted" style="width: 1rem;">$</span>
        <%= form.number_field :maximum_amount, placeholder: "500.00", step: 0.01, min: 0.01, required: false, disabled: @event.demo_mode?, data: { controller: "truncate-decimal", action: "truncate-decimal#truncate" } %>
      </div>
    </div>
    <%= form.label :user_id, "Associated User", class: "mt1 bold" %>
    <%= form.select :user_email, @event.users.map { |u| [u.name, u.email] } + [["Non-Organizer", "other"]], id: "reimbursement_report_user", selected: @current_user.email %>
    <%= form.text_field :other_email, class: "hidden mt1", placeholder: "Enter this individual's email", data: { "behavior": "reimbursement_report_email_input" }, required: false %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.submit "Submit", class: "mt2" %>
  <% end %>
</section>

<div class="statset mt3 mb2">
  <div class="stat stat--small">
    <span class="stat__label">Total</span>
    <span class="stat__value">
      <%= render_money_amount(@reports.sum { |report| report.expenses.sum { |expense| expense.amount_cents } }) %>
    </span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Reimbursed</span>
    <span class="stat__value">
      <%= render_money_amount(@reports.reimbursed.sum { |report| report.expenses.sum { |expense| expense.amount_cents } }) %>
    </span>
  </div>
  <div class="stat stat--small">
    <span class="stat__label">Pending</span>
    <span class="stat__value">
      <%= render_money_amount(@reports.draft.sum { |report| report.expenses.sum { |expense| expense.amount_cents } }) %>
    </span>
  </div>
</div>

<hr>

<div style="text-align: center;">
  <%= link_to "All", "?filter=all", class: "filterbar__item", "aria-selected": !["reimbursed", "pending"].include?(params[:filter]), role: "tab" %>
  <%= link_to "Reimbursed", "?filter=reimbursed", class: "filterbar__item", "aria-selected": params[:filter] == "reimbursed", role: "tab" %>
  <%= link_to "Pending", "?filter=pending", class: "filterbar__item", "aria-selected": params[:filter] == "pending", role: "tab" %>
</div>

<%= form_with(model: nil, local: true, method: :get) do |form| %>
  <div class="filterbar flex flex-wrap items-center width-100">

    <%= form.text_field :q, placeholder: "Search…", class: "flex-auto md-mr2", style: "width auto; max-width: none;", value: params[:q] %>

  </div>
<% end %>

<% if @reports.blank? %>
  <%= blankslate "No reports found!" %>
<% else %>
  <article class="table-container">
    <table>
      <thead>
      <tr>
        <th>Status</th>
        <th>Report Title</th>
        <th>From</th>
        <th>Amount</th>
        <th>Created at</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
          <tr>
            <td>
               <span class="ml0 badge bg-<%= report.aasm_state %>"><%= report.aasm_state&.capitalize %></span>
            </td>
            <td>
              <%= report.name %>
            </td>
            <td>
               <%= user_mention report.user %>
            </td>
            <td>
               <%= render_money [report.maximum_amount_cents, report.expenses.sum(&:amount_cents)].min %>
            </td>
            <td>
               <%= report.created_at.strftime("%m-%d-%Y") %>
            </td>
            <td>
               <%= link_to "View", report %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </article>
<% end %>
