<% if organizer_signed_in? %>
  <%= turbo_stream_from @event, :transactions %>
  <%= turbo_stream_from @event, :tags %>
  <% turbo_refreshes_with method: :morph, scroll: :preserve %>
<% end %>

<% title @event.name %>
<% page_md %>
<%= render "nav", selected: :home %>

<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://hcb-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="HCB">
    <meta property="og:url" content="<%= event_url(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on HCB so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<h1 class="flex items-center">
  <span class="flex-grow"><%= @event.name %></span>
  <% admin_tool("p0 badge", "span") do %>
    <span class="m0 badge bg-muted">
      #<%= @event.id %>
    </span>
    <span class="m0 badge bg-muted ml1">
      SL<%= @event.service_level %>
    </span>
  <% end %>

  <% if @event.increase_account_id != IncreaseService::AccountIds::FS_MAIN %>
    <% admin_tool("p0 badge", "span") do %>
      <%= link_to "https://dashboard.increase.com/accounts/#{@event.increase_account_id}" do %>
        <span class="m0 badge bg-muted">
          <%= @event.increase_account_id %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</h1>

<% if organizer_signed_in? && @event.demo_mode %>
  <div class="card border b--info pb0 mb-4" style="text-wrap: pretty;" id="playground-callout" data-tour-step="playground_mode">
    <p class="mt0">
      <strong>Welcome to Playground Mode</strong>
      <br>
      While in Playground mode, explore the dashboard with mock data, and invite your team.
    </p>
  </div>
<% end %>

<div class="flex flex-col gap-[20px]">
  <% if organizer_signed_in? %>
    <div class="flex flex-wrap justify-start gap-2">
      <div data-controller="menu" data-menu-placement-value="bottom-start">
        <button
          data-behavior="menu_toggle"
          aria-expanded="false" tabindex="0"
          class="btn btn-small menu__toggle overflow-visible"
          data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
          data-menu-target="toggle">
          <%= inline_icon "payment-transfer" %>
          Transfer money
        </button>
        <div class="menu__content menu__content--2" data-menu-target="content">
          <%= link_to new_event_ach_transfer_path(@event), data: { turbo_frame: "_top" } do %>
            <%= inline_icon "payment-transfer" %>
            ACH transfer
          <% end %>
          <%= link_to new_event_increase_check_path(@event), data: { turbo_frame: "_top" } do %>
            <%= inline_icon "email" %>
            Mailed check
          <% end %>
          <%= link_to (paypal_transfers_airtable_form_url(embed: false, event: @event, user: @current_user) if policy(@event).create_transfer?), class: policy(@event).create_transfer? ? "" : "btn--form-option--disabled", data: { turbo_frame: "_top" } do %>
            <%= inline_icon "paypal" %>
            PayPal
            <% if @event.demo_mode? %>
              <small>Not available in Playground Mode</small>
            <% elsif !policy(@event).create_transfer? %>
              <small>Only available for managers.</small>
            <% end %>
          <% end %>
          <%= link_to new_disbursement_path(source_event_id: @event), data: { turbo_frame: "_top" } do %>
            <%= inline_icon "bank-account" %>
            Inter-HCB account transfer
          <% end %>
          <% if Flipper.enabled?(:card_grants_2023_05_25, @event) %>
            <%= link_to new_event_card_grant_path(@event), data: { turbo: true } do %>
              <%= inline_icon "card" %>
              Grant <span class="warning regular">(beta)</span>
            <% end %>
          <% end %>
        </div>
      </div>
      <button
        data-behavior="modal_trigger" data-modal="create"
        class="btn btn-small"
        aria-label="Start a reimbursement report for yourself">
        <%= inline_icon "reimbursement" %>
        Get reimbursed
      </button>
      <%= render partial: "reimbursement/reports/create_form" %>
      <%= link_to event_check_deposits_path(@event), class: "btn btn-small" do %>
        <%= inline_icon "cheque" %>
        Deposit check
      <% end %>
      <% if policy(@event).account_number? %>
        <button
          data-behavior="modal_trigger" data-modal="account_numbers"
          class="btn btn-small"
          aria-label="Receive payouts from GoFundMe, Shopify, Venmo, and more">
          <%= inline_icon "account-numbers" %>
          Account numbers
        </button>
        <%= render "account_numbers", event: @event %>
      <% end %>
    </div>
  <% end %>

  <%= render "events/public_message" %>

  <%= turbo_frame_tag "balance_transactions", src: event_balance_transactions_path(@event), class: "flex-1 homepage-row empty:hidden flex gap-4", loading: "lazy" do %>
    <div class="card shadow-none p-0 text-center flex-1 flex flex-col items-center justify-center min-h-[421px]">
      <%= render partial: "application/loading_container" %>
    </div>
    <div class="card shadow-none p-0 text-center flex-1 flex flex-col items-center justify-center min-h-[421px]">
      <%= render partial: "application/loading_container" %>
    </div>
  <% end %>

  <div class="flex gap-4 flex-col sm:flex-row" style="max-width:100%">
    <%= turbo_frame_tag "recent_activity", src: event_recent_activity_path(@event), class: "flex-1 homepage-row empty:hidden flex gap-4 flex-col sm:max-w-[50%]", loading: "lazy" do %>
      <div class="card shadow-none p-0 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1;min-height: 305px">
        <%= render partial: "application/loading_container" %>
      </div>
    <% end %>
    <%= turbo_frame_tag "team_stats", src: event_team_stats_path(@event), class: "flex-1 homepage-row empty:hidden flex gap-4 flex-col sm:max-w-[50%]", style: "min-height: 305px", loading: "lazy" do %>
      <div class="card shadow-none p-0 text-center flex-1 flex flex-col items-center justify-center">
        <%= render partial: "application/loading_container" %>
      </div>
      <div class="card shadow-none p-0 text-center flex-1 flex flex-col items-center justify-center">
        <%= render partial: "application/loading_container" %>
      </div>
    <% end %>
  </div>

  <%= turbo_frame_tag "merchants_categories", src: event_merchants_categories_path(@event), class: "homepage-row empty:hidden", loading: "lazy" do %>
    <div class="card card--breakdown p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center">
      <%= render partial: "application/loading_container" %>
    </div>
    <div class="card card--breakdown p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center">
      <%= render partial: "application/loading_container" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "tags_users", src: event_tags_users_path(@event), class: "homepage-row empty:hidden", loading: "lazy" do %>
    <div class="card card--breakdown p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center">
      <%= render partial: "application/loading_container" %>
    </div>
    <div class="card card--breakdown p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center">
      <%= render partial: "application/loading_container" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "transaction_heatmap", src: event_transaction_heatmap_path(@event), class: "homepage-row", loading: "lazy" do %>
    <div class="card card--breakdown p-0 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1;height:223px">
      <%= render partial: "application/loading_container" %>
    </div>
  <% end %>
</div>
