<% title @event.name %>
<% page_md %>
<%= render "nav", selected: :home %>
<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://hcb-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="HCB">
    <meta property="og:url" content="<%= event_url(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on HCB so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<h1 class="flex items-center">
  <span class="flex-grow">Home</span>
  <% admin_tool("p0 badge", "span") do %>
    <span class="m0 badge bg-muted">
      #<%= @event.id %>
    </span>
    <span class="m0 badge bg-muted ml1">
      SL<%= @event.service_level %>
    </span>
  <% end %>

  <% if @event.increase_account_id != IncreaseService::AccountIds::FS_MAIN %>
    <% admin_tool("p0 badge", "span") do %>
      <%= link_to "https://dashboard.increase.com/accounts/#{@event.increase_account_id}" do %>
        <span class="m0 badge bg-muted">
          <%= @event.increase_account_id %>
        </span>
      <% end %>
    <% end %>
  <% end %>
</h1>

<div class="flex mb2 max-w-full overflow-auto whitespace-nowrap scrollbar-hidden">
  <%= link_to "#", class: "list-badge quick-action ml-0", data: { behavior: "modal_trigger", modal: "new_invoice" } do %>
    <%= inline_icon "briefcase", size: 16 %>
    Send an invoice
  <% end %>
  <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "send_transfer" } do %>
    <%= inline_icon "payment-transfer", size: 16 %>
    Transfer money
  <% end %>
  <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "create_reimbursement" } do %>
    <%= inline_icon "attachment", size: 16 %>
    Get reimbursed
  <% end %>
  <%= link_to event_check_deposits_path(@event), class: "list-badge quick-action" do %>
    <%= inline_icon "cheque", size: 16 %>
    Deposit a check
  <% end %>
  <% unless @user_stripe_cards.any? %>
    <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "order_card" } do %>
      <%= inline_icon "card", size: 16 %>
      Order a card
    <% end %>
  <% end %>
</div>

<%= render "events/public_message" %>

<%= render "reimbursement/reports/create_form", modal_id: "create_reimbursement" %>
<%= render "stripe_card_modal" %>
<%= render "transfer_modal" %>
<%= render "invoices/modal" %>

<div class="flex gap-4 flex-col sm:flex-row">
  <%= render partial: "events/home/balance", event: @event %>
  <%= render partial: "events/home/transactions", event: @event %>
</div>

<%= render "pinned_transactions" %>

<div class="my-4">
  <div class="card card--breakdown shadow-none overflow-visible px-0 sm:p-4 flex-1 flex items-start justify-start h2" style="gap: 2rem">
    <span class="flex flex-col" data-controller="<%= "clipboard" if organizer_signed_in? %>" data-clipboard-text-value="CLNOUS66">
      <span class="h4 muted">SWIFT / BIC code</span>
      <span class="font-mono pointer tooltipped tooltipped--n fs-mask" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy" data-controller="<%= "reveal-animation" if @animated %>">
        CLNOUS66
      </span>
    </span>
    <span class="flex flex-col" data-controller="<%= "clipboard" if organizer_signed_in? %>" data-clipboard-text-value="<%= @event.routing_number if organizer_signed_in? %>">
      <span class="h4 muted">Routing</span>
      <span class="font-mono pointer tooltipped tooltipped--n fs-mask" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy" data-controller="<%= "reveal-animation" if @animated %>">
        <% if organizer_signed_in? %>
          <%= @event.routing_number %>
        <% else %>
          <%= "•" * @event.routing_number.length %>
        <% end %>
      </span>
    </span>
    <span class="flex flex-col" data-controller="<%= "clipboard" if organizer_signed_in? %>" data-clipboard-text-value="<%= @event.account_number if organizer_signed_in? %>">
      <span class="h4 muted">
        Account
        <% if @event.column_account_number&.deposit_only? %>
          (receive-only)
        <% else %>
          (receive + send)
        <% end %>
      </span>
      <span class="font-mono pointer tooltipped tooltipped--n fs-mask" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy" data-controller="<%= "reveal-animation" if @animated %>">
        <% if organizer_signed_in? %>
          <%= @event.account_number %>
        <% else %>
          <%= "•" * @event.account_number.length %>
        <% end %>
      </span>
    </span>
    <span class="flex-grow"></span>
    <% admin_tool "flex-col justify-center" do %>
      <%= button_to @event.column_account_number&.deposit_only? ? "Enable debits" : "Make deposit-only",
                    event_column_account_number_path(@event),
                    method: :patch,
                    params: { column_account_number: { deposit_only: !@event.column_account_number&.deposit_only } },
                    class: "btn bg-muted text-sm py-1 px-3",
                    data: { turbo_confirm: "Are you sure you want to change this? Debits are usually disabled for account security." } %>
    <% end %>
  </div>
</div>

<div class="my-4">
  <%= render partial: "events/home/team", event: @event %>
</div>

<div class="flex gap-4 flex-col sm:flex-row">
  <%= render partial: "events/home/recent_activity", event: @event %>
  <%= render partial: "events/home/cards", event: @event %>
</div>

<div class="breakdown-row mt-4">
  <% if @merchants.length > 0 %>
  <div class="card card--breakdown shadow-none w-100" style="flex: 1">
    <div class="flex flex-row justify-between mb2 mt2 items-center">
      <h3 class="mt0 mb0">Top merchants</h3>
      <% if @past_month %>
        <h5 class="breakdown-eyebrow mt0 mb0">Past thirty days</h5>
      <% else %>
        <h5 class="breakdown-eyebrow mt0 mb0">All time</h5>
      <% end %>
    </div>
    <%= react_component "breakdown/Merchants", { data: @merchants }, { camelize_props: false } %>
  </div>
  <% else %>
  <div class="card card--breakdown shadow-none p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1">
    <h3 class="mt0 mb0">Top merchants</h3>
      <p class="m-0 p-4 pt-2 pb-0 mb-1 muted max-w-xs">
      As your team spends money, we'll categorize it here.
    </p>
  </div>
  <% end %>

  <% if @categories.length > 0 %>
  <div class="card card--breakdown shadow-none w-100" style="flex: 1">
    <div class="flex flex-row justify-between mb2 mt2 items-center">
      <h3 class="mt0 mb0">Top categories</h3>
      <% if @past_month %>
        <h5 class="breakdown-eyebrow mt0 mb0">Past thirty days</h5>
      <% else %>
        <h5 class="breakdown-eyebrow mt0 mb0">All time</h5>
      <% end %>
    </div>
    <%= react_component "breakdown/Categories", { data: @categories }, { camelize_props: false } %>
  </div>
  <% else %>
  <div class="card card--breakdown shadow-none p-0 min-h-96 text-center flex-1 flex flex-col items-center justify-center" style="flex: 1">
    <h3 class="mt0 mb0">Top categories</h3>
      <p class="m-0 p-4 pt-2 pb-0 mb-1 muted max-w-xs">
      As your team spends money, we'll categorize it here.
    </p>
  </div>
  <% end %>
</div>