<% title @event.name %>
<% page_md %>
<%= render "nav", selected: :home %>
<% if @event&.is_public %>
  <% content_for :head do %>
    <% img = "https://hcb-og.hackclub.com/api/embeds/#{@event.slug}" %>
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="<%= img %>">
    <meta name="twitter:image" content="<%= img %>">
    <meta property="og:site_name" content="HCB">
    <meta property="og:url" content="<%= event_url(@event) %>">
    <meta property="og:title" content="<%= @event.name %>">
    <meta name="twitter:title" content="<%= @event.name %>">
    <% description = "#{@event.name}'s finances have been made public on HCB so you can see how their money is spent." %>
    <meta property="og:description" content="<%= description %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="description" content="<%= description %>">
  <% end %>
<% end %>

<h1 class="items-center hidden md:flex">
  Home
</h1>

<div class="flex mb2 max-w-full overflow-auto whitespace-nowrap scrollbar-hidden">
  <%= link_to "#", class: "list-badge quick-action ml-0", data: { behavior: "modal_trigger", modal: "new_invoice" } do %>
    <%= inline_icon "briefcase", size: 16 %>
    Send an invoice
  <% end %>
  <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "send_transfer" } do %>
    <%= inline_icon "payment-transfer", size: 16 %>
    Transfer money
  <% end %>
  <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "create_reimbursement" } do %>
    <%= inline_icon "attachment", size: 16 %>
    Get reimbursed
  <% end %>
  <%= link_to event_check_deposits_path(@event), class: "list-badge quick-action" do %>
    <%= inline_icon "cheque", size: 16 %>
    Deposit a check
  <% end %>
  <% unless @user_stripe_cards.any? %>
    <%= link_to "#", class: "list-badge quick-action", data: { behavior: "modal_trigger", modal: "order_card" } do %>
      <%= inline_icon "card", size: 16 %>
      Order a card
    <% end %>
  <% end %>
</div>

<%= render "reimbursement/reports/create_form", modal_id: "create_reimbursement" %>
<%= render "stripe_card_modal" %>
<%= render "transfer_modal" %>
<%= render "invoices/modal" %>

<div class="flex gap-4 flex-col sm:flex-row">
  <%= render partial: "events/home/balance", event: @event %>
  <%= render partial: "events/home/transactions", event: @event %>
</div>

<div class="my-4">
  <%= render partial: "events/home/team", event: @event %>
</div>

<div class="flex gap-4 flex-col sm:flex-row">
  <%= render partial: "events/home/recent_activity", event: @event %>
  <%= render partial: "events/home/cards", event: @event %>
</div>

<div class="breakdown-row mt-4">
  <div class="card card--breakdown shadow-none w-100" style="flex: 1">
    <div class="flex flex-row justify-between mb2 mt2 items-center">
      <h3 class="mt0 mb0">Top merchants</h3>
      <% if @past_month %>
        <h5 class="breakdown-eyebrow mt0 mb0">Past thirty days</h5>
      <% else %>
        <h5 class="breakdown-eyebrow mt0 mb0">All time</h5>
      <% end %>
    </div>
    <%= react_component "breakdown/Merchants", { data: @merchants }, { camelize_props: false } %>
  </div>
  <div class="card card--breakdown shadow-none w-100" style="flex: 1">
    <div class="flex flex-row justify-between mb2 mt2 items-center">
      <h3 class="mt0 mb0">Top categories</h3>
      <% if @past_month %>
        <h5 class="breakdown-eyebrow mt0 mb0">Past thirty days</h5>
      <% else %>
        <h5 class="breakdown-eyebrow mt0 mb0">All time</h5>
      <% end %>
    </div>
    <%= react_component "breakdown/Categories", { data: @categories }, { camelize_props: false } %>
  </div>
</div>