<% title "Give to " + @event.name %>
<% page_xl %>
<% no_app_shell %>

<% content_for :head do %>
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:site_name" content="HCB">
  <meta property="og:url" content="<%= start_donation_donations_url @event %>">
  <meta property="og:title" content="Donate to <%= @event.name %>">
  <meta name="twitter:title" content="Donate to <%= @event.name %>">
  <% description = "Donate to #{@event.name}. Your contribution will be tax-deductible." %>
  <meta property="og:description" content="<%= description %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="description" content="<%= description %>">
<% end %>

<style>
  body { padding: 0 }
</style>

<div class="flex flex-col md:grid gap-8 h-screen w-full px-4 py-8 bg-snow" style="grid-template-columns: 3fr 2fr">
  <div class="p-4 w-full flex flex-col">
    <div>
      <h1 class="mt-0">
        <span class="muted h1">Donate to<br /></span>
        <%= @event.name %>
      </h1>
      <% if @event.logo %>
        <%= image_tag url_for(@event.logo), class: "w-36" %>
        <%= image_tag url_for(@event.logo), class: "fixed w-screen opacity-5", style:"left: -40%; top: -40%;" %>
      <% end %>
    </div>

    <div class="flex-grow flex flex-col">
      <p class="h3">
        Recurring contributions from people like you not only show that our movement and demands are not radical but in fact something most of us support, but they also help Sunrisers mobilize at full speed year-round.
        Please consider becoming a monthly Sunrise Sustainer to help us keep at this work!
      </p>

      <% if @event.donation_header_image %>
        <div class="flex-grow relative" style="min-height: 25vh">
          <%= image_tag url_for(@event.donation_header_image), class: "rounded-lg absolute inset-0 w-full h-full object-cover" %>
          <% if organizer_signed_in? %>
            <div class="flex items-center m2 absolute top-0 left-0">
              <%= form_with model: @event, class: "embedded-display-none", data: { "controller" => "form" } do |form| %>
                <%= form.file_field :donation_header_image, required: true, class: "display-none", data: { action: "change->form#submit" } %>
                <%= form.label :donation_header_image do %>
                  <div
                    role="button"
                    class="muted pointer no-select tooltipped tooltipped--e line-height-0"
                    aria-label="<%= @has_header_image ? "Edit" : "Upload" %> header image">
                    <%= inline_icon "photo", size: home_action_size %>
                  </div>
                <% end %>
              <% end %>
              <% if @has_header_image %>
                <%= link_to event_remove_header_image_path(@event), method: :post, data: { turbo_confirm: "Are you sure you want to remove this image?" } do %>
                  <div
                    role="button"
                    class="muted pointer ml1 no-select tooltipped tooltipped--e line-height-0"
                    aria-label="Remove header image">
                    <%= inline_icon "view-close", size: home_action_size %>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="p-4 -mt-24 md:mt-0">
    <%= render "donations/donation_form", donation: @donation %>
    <%= render "events/landing/footer" %>
  </div>
</div>
