<%= turbo_stream.update_all ".hcb_code_#{hcb_code.hashid}_tags" do %>
  <%= render partial: "canonical_transactions/tag", collection: hcb_code.tags, locals: { hcb_code:, streamed: local_assigns[:streamed], compact: } %>
<% end %>

<%= turbo_stream.update_all tag_dom_class(hcb_code, tag, "_toggle") do %>
  <div class="relative w-7 mr-2">
    <div class="tag__preview tag-<%= tag.color || "muted" %>"></div>
    <% if tag.emoji != "" %>
      <p class="absolute top-0 left-0 my-[2px] mx-1 text-base"><%= tag.emoji %></p>
    <% end %>
  </div>
  <%= tag.label %>
<% end %>
