<% title "Activate your card" %>
<% page_md %>
<%= render "users/nav", selected: :cards %>

<h1 class="heading">
  <span class="flex items-center">
    Card activation
  </span>
</h1>

<p class="text">
  Enter the last 4 digits of your card number to activate it.
</p>
<%= form_with url: stripe_cards_activation_path, method: :post do |form| %>
  <div class="card mt2 mb2" style="width: fit-content;">
    <%= form.label :last4, "Card Number" %>
    <div class="flex flex-row g2 items-center">
      <span>••••</span>
      <span>••••</span>
      <span>••••</span>
      <%= form.number_field :last4, placeholder: "XXXX", required: true, style: "width: 64px", oninput: "this.value = this.value.replace(/[^0-9]/g, '').substring(0, 4)", class: "mono center" %>
    </div>
  </div>
  <%= form.submit "Activate", class: "btn btn-primary mt2" %>

<% end %>
