<%# locals: (card_grant:) %>

<div class="card mt2">
  <h2 class="border-none mx0 mt0 inline-flex items-center">
    <%= pop_icon_to "edit",
        [:edit, card_grant.disbursement.local_hcb_code],
        class: "mr2 align-middle", "aria-label": "Rename transaction" if organizer_signed_in?(as: :member) %>
    Grant to &nbsp; <%= user_mention card_grant.user %>
    <div data-controller="menu" data-menu-placement-value="bottom-end" class="ml-auto">
      <%= pop_icon_to "more",
          "#",
          class: "align-middle", "aria-label": "More Options",
          data: { turbo: true, "menu-target": "toggle", action: "menu#toggle click@document->menu#close keydown@document->menu#keydown" } %>
      <div class="menu__content menu__content--2 h5 menu__content--compact" data-menu-target="content">
         <%= render "card_grants/actions/convert_to_reimbursement_report", as_menu: true, card_grant:, label: card_grant.user == current_user ? "Get reimbursed" : "Create reimbursement report" %>
         
        <%= render "card_grants/actions/toggle_one_time_use", card_grant: %>
        <% if card_grant.active? %>
          <%= link_to "#",
                      data: { behavior: "modal_trigger", modal: "topup", action: "menu#close" },
                      class: "menu__action",
                      disabled: !policy(card_grant).topup? do %>
            <%= inline_icon "plus", size: 24 %> Topup
          <% end %>
          <%= link_to "#",
                      data: { behavior: "modal_trigger", modal: "withdrawl", action: "menu#close" },
                      class: "menu__action",
                      disabled: !policy(card_grant).withdraw? do %>
            <%= inline_icon "minus", size: 24 %> Withdraw
          <% end %>
        <% end %>

        <% if card_grant.user != current_user %>
          <%= render "card_grants/actions/cancel", card_grant: %>
        <% end %>
        <%= render "card_grants/actions/dejigamaflip", card_grant: %>
      </div>
    </div>
  </h2>

  <%= render "card_grants/actions/topup", card_grant: %>
  <%= render "card_grants/actions/withdraw", card_grant: %>

  <section class="card__banner card__darker details-horiz border-top border-bottom">
    <p>
      <strong>Sent by</strong>
      <%= user_mention card_grant.sent_by %>
    </p>
    <p>
      <strong>Funded by</strong>
      <%= link_to card_grant.event.name, card_grant.event %>
    </p>
    <p>
      <strong>Sent</strong>
      <span class="tooltipped" aria-label="<%= card_grant.created_at.to_formatted_s(:long) %>">
        <%= time_ago_in_words card_grant.created_at %> ago
      </span>
    </p>
  </section>
  <section class="details details--wide pt2 pb2 details--tall">
    <p>
      <strong>Grant Status</strong>
      <span><%= card_grant.state_text %></span>
    </p>
    <p>
      <strong>One time use?</strong>
      <span><%= card_grant.one_time_use ? "Yes" : "No" %></span>
    </p>
    <% if (stripe_card = card_grant.stripe_card).present? %>
      <p>
        <strong>Card Status</strong>
        <span>
          <%= stripe_card.state_text %>

          <% if stripe_card.frozen? %>
            <%# The condition above is written this way because `frozen?` is a method on `nil` %>
            by <%= user_mention card_grant.stripe_card.last_frozen_by %>
          <% end %>
        </span>
      </p>
    <% end %>
    <p>
      <strong>Grant amount</strong>
      <span><%= render_money card_grant.amount %></span>
    </p>
    <p>
      <strong>Balance remaining</strong>
      <span><%= render_money card_grant.balance %></span>
    </p>
    <p>
      <strong>Expires on</strong>
      <span><%= format_date card_grant.expires_on %></span>
    </p>
    <p>
      <strong>Grant sent to</strong>
      <span><%= mail_to card_grant.user.email %></span>
    </p>

    <p>
      <strong>Allowed merchants</strong>
      <% if card_grant.allowed_merchants.any? %>
        <span class="font-mono h5"><%= card_grant.allowed_merchant_names.join(", ") %><br>
          (IDs: <%= card_grant.allowed_merchants.join(", ") %>)</span>
    <% else %>
        <span>All merchants allowed</span>
      <% end %>
    </p>

    <p>
      <strong>Allowed categories</strong>
      <% if (allowed_categories = card_grant.allowed_category_names.join(", ").presence) %>
        <span class="font-mono h5"><%= allowed_categories %></span>
      <% else %>
        <span>All categories allowed</span>
      <% end %>
    </p>
    <% if @card_grant.purpose.present? %>
      <p>
        <strong>Purpose</strong>
        <span><%= @card_grant.purpose %></span>
      </p>
    <% end %>
    <% if card_grant.keyword_lock.present? %>
      <p>
        <strong>Merchant keyword lock</strong>
        <span class="font-mono h5"><%= card_grant.keyword_lock %></span>
      </p>
    <% end %>
  </section>
  <% if card_grant.pending_invite? || @frame %>
    <section>
      <%= render partial: "actions", locals: { card_grant: @card_grant } %>
    </section>
  <% end %>
</div>
