<% title "Grant to #{@card_grant.user.name}" %>
<%= render "events/nav", selected: :transfers if organizer_signed_in? %>

<section class="card mt-8 min-h-[300px] flex flex-col justify-between <%= "card--background-image" if @card_grant.event.background_image.attached? %>" style="<%= "--bg-image: url(#{url_for(@card_grant.event.background_image).dump})" if @card_grant.event.background_image.attached? %>">
  <div class="flex flex-row justify-end items-start">
    <% if organizer_signed_in?(as: :member) %>
      <%= render "card_grants/actions/edit", card_grant: @card_grant %>
    <% end %>
  </div>
  <div class="flex flex-col gap-8 lg:flex-row justify-between items-start lg:items-center">
    <div class="flex flex-col justify-center items-start mt-5">
      <h2 class="border-none !mx-0 !px-0 !mt-0 inline-flex items-center">
        Grant to &nbsp; <%= user_mention(@card_grant.user, class: "mr-2") %> for <%= render_money @card_grant.amount %>
      </h2>
      <p class="my-0 flex items-baseline g-1">
        <%= status_badge @card_grant.status_badge_type %>
        <%= @card_grant.state_text %>
        <% if @card_grant.purpose.present? %>
          • <%= @card_grant.purpose %>
        <% end %>
      </p>
    </div>

    <section class="details-horiz">
    <p>
      <strong>Sent by</strong>
      <%= user_mention @card_grant.sent_by %>
    </p>
    <p>
      <strong>Funded by</strong>
      <%= link_to @card_grant.event.name, @card_grant.event %>
    </p>
    <p>
      <strong>Sent</strong>
      <span class="tooltipped" aria-label="<%= @card_grant.created_at.to_formatted_s(:long) %>">
        <%= time_ago_in_words @card_grant.created_at %> ago
      </span>
    </p>
  </section>
  </div>
</section>

<div class="mt4 mb4 check--form flex justify-center <%= "flex-wrap" if @frame %>" style="gap: 3rem">
  <%# Grantee has pending invite %>
  <% if @card_grant.user == current_user && @card_grant.pending_invite? %>
    <% if @card_grant.canceled? %>
      <%= blankslate "Sorry, this grant was canceled!" %>
  <% else %>
      <%= render partial: "invitation", locals: { card_grant: @card_grant } %>
    <% end %>
  <%# Organizers and admins' view %>
  <% elsif @card_grant.user.admin? || organizer_signed_in? %>
    <% if @card_grant.stripe_card %>
      <div>
        <%= render @card_grant.stripe_card %>
        <%= render partial: "balance", locals: { card_grant: @card_grant } %>
        <%= render partial: "canceled_warning", locals: { card_grant: @card_grant } %>
        <%= render partial: "actions", locals: { card_grant: @card_grant } %>
      </div>
    <% end %>
    <div class="flex flex-col g2">
      <%= render partial: "details", locals: { card_grant: @card_grant } %>

      <% if @card_grant.active? && @card_grant.stripe_card %>
        <% admin_tool_if @card_grant.user != current_user do %>
          <%= render partial: "spending_instructions", locals: { card_grant: @card_grant } %>
        <% end %>
      <% end %>

    </div>
    <div class="flex flex-col g2">
      <%= render partial: "canceled_warning", locals: { card_grant: @card_grant } unless @card_grant.stripe_card %>
    </div>
  <%# Grantee view after accepting invite %>
  <% elsif @card_grant.user == current_user %>
    <div>
      <%= render partial: "canceled_warning", locals: { card_grant: @card_grant } %>
      <% if @card_grant.purpose.present? %>
        <h2><%= @card_grant.purpose %></h2>
      <% end %>
      <%= render @card_grant.stripe_card, headless: true, show_card_number: true %>
      <%= render partial: "balance", locals: { card_grant: @card_grant } %>
      <%= render partial: "actions", locals: { card_grant: @card_grant } %>
    </div>
    <%= render partial: "spending_instructions", locals: { card_grant: @card_grant } %>
  <% end %>
</div>

<hr>

<% unless @card_grant.user == current_user && @card_grant.pending_invite? %>
  <%= render partial: "transactions", locals: { hcb_codes: @hcb_codes } %>
<% end %>

<% if policy(@card_grant.comments.build).create? %>
  <h2>Comments</h2>
  <%= render "comments/list", comments: @card_grant.comments %>
  <%= render "comments/form", commentable: @card_grant %>
<% end %>
