<div class="my-4">
  <div class="card card--breakdown shadow-none overflow-visible px-0 sm:p-4 flex-1 flex items-start justify-start h2" style="gap: 2rem">
    <span class="flex flex-col" data-controller="<%= "clipboard" if organizer_signed_in? %>" data-clipboard-text-value="CLNOUS66">
      <span class="muted uppercase text-sm font-bold">SWIFT / BIC code</span>
      <span class="font-mono pointer tooltipped tooltipped--n fs-mask" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy" data-controller="<%= "reveal-animation" if @animated %>">
        CLNOUS66
      </span>
    </span>
    <span class="flex flex-col" data-controller="<%= "clipboard" if organizer_signed_in? %>" data-clipboard-text-value="<%= @event.routing_number if organizer_signed_in? %>">
      <span class="muted uppercase text-sm font-bold">Routing number</span>
      <span class="font-mono pointer tooltipped tooltipped--n fs-mask" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy" data-controller="<%= "reveal-animation" if @animated %>">
        <% if organizer_signed_in? %>
          <%= @event.routing_number %>
        <% else %>
          <%= "•" * @event.routing_number.length if @event.routing_number %>
        <% end %>
      </span>
    </span>
    <span class="flex flex-col" data-controller="<%= "clipboard" if organizer_signed_in? %>" data-clipboard-text-value="<%= @event.account_number if organizer_signed_in? %>">
      <span class="muted uppercase text-sm font-bold">
        Account
        <% if @event.column_account_number&.deposit_only? %>
          (receive-only)
        <% else %>
          (receive + send)
        <% end %>
      </span>
      <span class="font-mono pointer tooltipped tooltipped--n fs-mask" aria-label="<%= organizer_signed_in? ? "Click to copy" : "Sign in to view" %>" data-action="click->clipboard#copy" data-controller="<%= "reveal-animation" if @animated %>">
        <% if organizer_signed_in? %>
          <%= @event.account_number %>
        <% else %>
          <%= "•" * @event.account_number.length if @event.account_number%>
        <% end %>
      </span>
    </span>
    <span class="flex-grow"></span>
    <% admin_tool "flex-col justify-center" do %>
      <%= button_to @event.column_account_number&.deposit_only? ? "Enable debits" : "Make deposit-only",
                    event_column_account_number_path(@event),
                    method: :patch,
                    params: { column_account_number: { deposit_only: !@event.column_account_number&.deposit_only } },
                    class: "btn bg-muted text-sm py-1 px-3",
                    data: { turbo_confirm: "Are you sure you want to change this? Debits are usually disabled for account security." } %>
    <% end %>
  </div>
</div>