<% @show_card_popovers = Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) %>

<% if @cards.length > 0 %>
<div class="card card--breakdown shadow-none p-0 flex-1 flex flex-col" style="flex: 3;height:300px">
  <h3 class="m-0 p-4 pb-0 mb-1">My cards</h3>
  <div class="flex flex-row items-center overflow-scroll gap-4 px-5">
    <%= render partial: "stripe_cards/stripe_card", collection: @cards, locals: { headless: true } %>
  </div>
  <%= link_to event_cards_overview_path(event_id: @event.slug), class: "flex items-center mt-auto px-4 pb-2" do %>
    View all cards
    <%= inline_icon "enter" %>
  <% end %>
</div>

<% else %>
  <div class="card card--breakdown shadow-none p-0 text-center flex-1 flex flex-col items-center justify-center py-16" style="height: <%= [(@cards.length + 1.5) * 45, 320].max %>px">
    <h3 class="m-0 p-4 pb-0 max-w-xs">
      <%= organizer_signed_in? ? "No cards yet" : "My cards" %>
    </h3>
    <p class="m-0 p-4 pt-2 pb-0 mb-1 muted max-w-xs">
      <%= organizer_signed_in? ? "Cards you've ordered will appear here" : "Sign in to see your cards" %>
    </p>
    <% if organizer_signed_in? %>
      <%= link_to event_cards_new_path(event_id: @event.slug), class: "btn mt-2", data: { behavior: "modal_trigger", modal: "order_card" } do %>
        <%= inline_icon "card-add" %>
        Order a card
      <% end %>
    <% end %>
  </div>
<% end %>
