<div class="card card--breakdown shadow-none p-4 flex flex-col gap-4 flex-1">
  <div class="flex items-center">
    <h3 class="my-0">Money movement</h3>
    <button class="btn ml-auto shadow-none btn-small bg-muted">
      Past 30 days
    </button>
  </div>
  <div class="flex">
    <div class="flex-1 -ml-4 mr-4" style="height: 250px">
      <span class="breakdown-eyebrow pl-4">Money in</span>

      <% @money_in.each do |transaction| %>
        <% cache transaction do %>
          <div class="flex py-1.5 px-4 gap-4 items-start <%= Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? ? "cursor-pointer hover:bg-gray-50 active:bg-gray-100 transition-colors dark:hover:bg-neutral-700 dark:active:bg-neutral-600" : "" %>" data-behavior="modal_trigger" data-modal="transaction_details_<%= transaction.__id__ %>">
            <div>
              <%= transaction_memo(transaction) %>
              <div class="text-sm text-gray-500">
                <%= time_ago_in_words(transaction.date) %> ago<% if transaction.try(:raw_stripe_transaction) || transaction.try(:raw_pending_stripe_transaction_id) %>, <%= transaction.stripe_cardholder.user.name %><% end %>
              </div>
            </div>
            <span class="ml-auto badge <%= transaction.amount_cents > 0 ? "success" : "error" %>"><%= render_transaction_amount transaction.amount_cents %></span>
          </div>

          <% if Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? %>
            <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="transaction_details_<%= transaction.__id__ %>">
              <%= modal_header(transaction.local_hcb_code.pretty_title(show_event_name: defined?(show_event_name), show_amount: defined?(show_amount), event_name: @event&.name, amount_cents: transaction.amount), external_link: transaction.local_hcb_code.url) %>
              <%= async_frame_to transaction.local_hcb_code.popover_url, as: :span, lazy: true do %>
                Loading...
              <% end %>
            </section>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="flex-1 -ml-4 -mr-4" style="height: 250px">
      <span class="breakdown-eyebrow pl-4">Money out</span>
      <% @money_out.each do |transaction| %>
        <% cache transaction do %>
          <div class="flex py-1.5 px-4 gap-4 items-start <%= Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? ? "cursor-pointer hover:bg-gray-50 active:bg-gray-100 transition-colors dark:hover:bg-neutral-700 dark:active:bg-neutral-600" : "" %>" data-behavior="modal_trigger" data-modal="transaction_details_<%= transaction.__id__ %>">
            <div>
              <%= transaction_memo(transaction) %>
              <div class="text-sm text-gray-500">
                <%= time_ago_in_words(transaction.date) %> ago<% if transaction.try(:raw_stripe_transaction) || transaction.try(:raw_pending_stripe_transaction_id) %>, <%= transaction.stripe_cardholder.user.name %><% end %>
              </div>
            </div>
            <span class="ml-auto badge <%= transaction.amount_cents > 0 ? "success" : "error" %>"><%= render_transaction_amount transaction.amount_cents %></span>
          </div>

          <% if Flipper.enabled?(:hcb_code_popovers_2023_06_16, current_user) && (@event || transaction.local_hcb_code.event).present? %>
            <section class="modal modal--scroll modal--popover bg-snow" data-behavior="modal" role="dialog" id="transaction_details_<%= transaction.__id__ %>">
              <%= modal_header(transaction.local_hcb_code.pretty_title(show_event_name: defined?(show_event_name), show_amount: defined?(show_amount), event_name: @event&.name, amount_cents: transaction.amount), external_link: transaction.local_hcb_code.url) %>
              <%= async_frame_to transaction.local_hcb_code.popover_url, as: :span, lazy: true do %>
                Loading...
              <% end %>
            </section>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>