<%= turbo_frame_tag "tags_users" do %>
<%
  @empty_tags = @tags.size == 0 || !Flipper.enabled?(:transaction_tags_2022_07_29, @event)
  @empty_users = @users.size == 0

  line_chart_config = {
      elements: { point: { radius: 0 } },
      scales: {
        y: {
          title: {
            color: "gray",
            font: {
              size: 14,
              weight: "900",
            },
          },
        },
        x: {
          border: {
            display: false
          },
          grid: {
            display: false,
          },
          title: {
            color: "gray",
            font: {
              size: 14,
              weight: "900",
            },
          },
        },
      }
    }

    def pie_chart_config(legend_position)
      {
        elements: {
          arc: {
            borderWidth: 0
          }
        },
        plugins: {
          legend: {
            position: legend_position,
            align: legend_position == "bottom" ? "center" : "start",
            labels: {
              boxWidth: 10,
              boxHeight: 10,
              usePointStyle: "circle"
            }
          }
        }
      }
    end %>

  <div class="breakdown-row mt-4">
    <div class="card card--breakdown shadow-none p-4 min-h-96 flex-1 flex items-center justify-center" style="height: <%= "384px" if @empty_tags %>">
      <% if @empty_tags %>
        <div class="flex flex-col items-center justify-center">
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-0">
              <%= !Flipper.enabled?(:transaction_tags_2022_07_29, @event) ? "Tags aren't enabled for this event" : "No tags yet!" %>
            </h3>
            <p class="text-gray-500 my-1">
              <%= !Flipper.enabled?(:transaction_tags_2022_07_29, @event) ? "With tags, you can neatly categorize your transactions." : "Create tags to categorize your transactions" %>
            </p>

            <% if Flipper.enabled?(:transaction_tags_2022_07_29, @event) && !@event&.demo_mode? %>
              <%= render partial: "hcb_codes/create_tag", locals: { button: true, large: true } %>
            <% end %>
            <% if !Flipper.enabled?(:transaction_tags_2022_07_29, @event) %>
              <%= link_to "Take me to the settings!", edit_event_path(@event, anchor: "tags"), class: "btn btn-primary mt-4" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= pie_chart @tags, library: pie_chart_config("right"), download: true %>
      <% end %>
    </div>
    <div class="card card--breakdown shadow-none p-4 min-h-96 flex-1 flex items-center justify-center" style="height: <%= "384px" if @empty_tags %>">
      <% if @empty_users %>
        <div class="flex flex-col items-center justify-center">
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-0">
              Not enough data
            </h3>
            <p class="text-gray-500 my-1">
              For users to show up here, they need to have at least one transaction. If you haven't already, invite some team members to help you out!
            </p>

            <%= link_to "Invite", event_team_path(@event), class: "btn mt-4", data: { "tour-step" => "invite", behavior: "modal_trigger", "modal":"invite_member" } %>
          </div>
        </div>
      <% else %>
        <%= pie_chart @tags, library: pie_chart_config("right"), download: true %>
      <% end %>
    </div>
  </div>
<% end %>
