<%= turbo_frame_tag "tags_users" do %>
<%
  @empty_tags = @users.empty? || !Flipper.enabled?(:transaction_tags_2022_07_29, @event)
  @empty_users = @users.empty?

  line_chart_config = {
    elements: { point: { radius: 0 } },
      scales: {
        y: {
          title: {
            color: "gray",
            font: {
              size: 14,
              weight: "900",
            },
          },
        },
        x: {
          border: {
            display: false
          },
          grid: {
            display: false,
          },
          title: {
            color: "gray",
            font: {
              size: 14,
              weight: "900",
            },
          },
        },
      }
  }

  def pie_chart_config(legend_position)
    {
      elements: {
        arc: {
          borderWidth: 0
        }
      },
      plugins: {
        legend: {
          position: legend_position,
          align: legend_position == "bottom" ? "center" : "start",
          labels: {
            boxWidth: 10,
            boxHeight: 10,
            usePointStyle: "circle"
          }
        }
      }
    }
  end
%>

  <div class="breakdown-row mt-4">
    <div class="card card--breakdown shadow-none p-4 min-h-96 flex-1 flex items-center justify-center" style="height: <%= "384px" if @empty_tags %>">
      <% if @empty_tags %>
        <div class="flex flex-col items-center justify-center">
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-0">
              <%= !Flipper.enabled?(:transaction_tags_2022_07_29, @event) ? "Tags aren't enabled for this event" : "It's quiet here..." %>
            </h3>
            <p class="text-gray-500 my-1">
              <%= !Flipper.enabled?(:transaction_tags_2022_07_29, @event) ? "With tags, you can neatly categorize your transactions." : "Either you don't have any tags, or you haven't categorized any transactions yet." %>
            </p>

            <% if !Flipper.enabled?(:transaction_tags_2022_07_29, @event) %>
              <%# _blank cuz of werird turbo frame bugs %>
              <%= link_to "Take me to the settings!", edit_event_path(@event, anchor: "features"), target: "_blank", class: "btn btn-primary mt-4" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= pie_chart @tags, library: pie_chart_config("right"), download: true, colors: [
              # 20 contrasting shades of gray
              "#000000", "#111111", "#222222", "#333333", "#444444", "#555555", "#666666", "#777777", "#888888", "#999999",
              "#aaaaaa", "#bbbbbb", "#cccccc", "#dddddd", "#eeeeee", "#f0f0f0", "#f1f1f1", "#f2f2f2", "#f3f3f3", "#f4f4f4",
            ] %>
      <% end %>
    </div>
    <div class="card card--breakdown shadow-none p-4 min-h-96 flex-1 flex items-center justify-center" style="height: <%= "384px" if @empty_tags %>">
      <% if @empty_users %>
        <div class="flex flex-col items-center justify-center">
          <div class="text-center">
            <h3 class="text-2xl font-bold mb-0">
              Not enough data
            </h3>
            <p class="text-gray-500 my-1">
              For users to show up here, they need to have at least one transaction. If you haven't already, invite some team members to help you out!
            </p>

            <%= link_to "Invite", event_team_path(@event), class: "btn mt-4", data: { "tour-step" => "invite", behavior: "modal_trigger", "modal": "invite_member" } %>
          </div>
        </div>
      <% else %>
        <%= pie_chart @tags, library: pie_chart_config("right"), download: true, colors: [
              # 20 contrasting shades of gray
              "#000000", "#111111", "#222222", "#333333", "#444444", "#555555", "#666666", "#777777", "#888888", "#999999",
              "#aaaaaa", "#bbbbbb", "#cccccc", "#dddddd", "#eeeeee", "#f0f0f0", "#f1f1f1", "#f2f2f2", "#f3f3f3", "#f4f4f4",
            ] %>
      <% end %>
    </div>
  </div>
<% end %>
