<div class="card card--breakdown shadow-none overflow-visible p-0 pb-4 flex-1 flex flex-col">
  <div class="flex items-center mb-1 p-4 pb-0">
    <h3 class="m-0">Team members</h3>
    <%= link_to event_team_path(event_id: @event.slug), class: "flex items-center ml-auto mb-2" do %>
      View all
      <%= inline_icon "enter" %>
    <% end %>
    </div>
   <div class="flex items-center px-4 pb-1 mt1">
    <% if @organizers.any? %>
      <div class="grid gap-2 w-100" style="grid-template-columns: repeat(auto-fill, 45px);">
        <% @organizers.each do |position| %>
          <div class="avatar-grow line-height-0 tooltipped tooltipped--s mr1" aria-label="<%= position.user == current_user ? current_user_flavor_text.sample : position.user.name %>">
            <%= avatar_for position.user, 45 %>
          </div>
        <% end %>
        <%= pop_icon_to "member-add", event_team_path(@event), class: "info", style: "width:45px;height:45px;color:#338eda!important", data: { "tour-step" => "invite" } %>
      </div>
    <% else %>
      <p class="slate bold h3 mr2">No organizers invited yet</p>
      <%= pop_icon_to "member-add", event_team_path(@event) %>
    <% end %>
  </div>
</div>
