<% if @organizers.any? %>
<div class="card card--breakdown shadow-none flex-1 flex flex-col p-0">
  <div>
    <h3 class="m-0">Team members</h3>
  </div>
   <div class="flex items-center px-4 pb-1 mt1">
    <div class="grid gap-2 w-100" style="grid-template-columns: repeat(auto-fill, 45px);">
      <% @organizers.each do |organizer| %>
        <% position = organizer[:position] %>
        <div class="avatar-grow line-height-0 tooltipped tooltipped--s mr1" aria-label="<%= position.user == current_user ? current_user_flavor_text.sample : position.user.name %>">
          <%= avatar_for position.user, 45 %>
        </div>
      <% end %>
      <%= pop_icon_to "member-add", event_team_path(@event), class: "info", style: "width:45px;height:45px;color:#338eda!important", data: { "tour-step" => "invite" } %>
    </div>
  </div>
</div>

<% else %>
  <div class="card card--breakdown shadow-none p-0 flex-1 flex items-center justify-center text-center">
    <div class="p-4 flex flex-col gap-2 items-center justify-center">
      <h3 class="mb-1 mt-2">No team members yet</h3>
      <p class="m-0 mb-1 muted">
        <%= organizer_signed_in? ? "Invite some organizers to help you out!" : "As members join this team, they'll appear here" %>
      </p>
      <% if organizer_signed_in? %>
        <%= link_to "Invite", event_team_path(@event), class: "btn", data: { "tour-step" => "invite", behavior:"modal_trigger", "modal":"invite_member" } %>
      <% end %>
    </div>
  </div>
<% end %>
<% if policy(@event).can_invite_user? %>
  <section class="modal modal--scroll bg-snow" data-behavior="modal" role="dialog" id="invite_member">
    <%= modal_header "Invite a team member" %>
    <div>
    <%= render "organizer_position_invites/form", invite: OrganizerPositionInviteService::Create.new(event: @event).model %>
  </section>
<% end %>
