<header class="header <%= "mt3" unless content_for?(:nav) %>">
  <div class="header-left line-height-0 flex items-center justify-end">
    <% if !@event %>
      <div data-controller="menu" data-menu-placement-value="bottom-center">
        <button data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown" data-menu-target="toggle" class="muted" type="button" aria-label="Appearance" data-action="class#toggle focus#focus">
          <%= inline_icon "moon", size: home_action_size %>
        </button>

        <div data-menu-target="content" class="menu__content menu__content--compact menu__content--2 min-w-32 w-32" data-controller="dark-mode-toggle">
          <a data-dark-mode-toggle-target="toggle" data-value="system">
            System
            <%= inline_icon "check", class: "hidden", size: 24 %>
          </a>
          <a data-dark-mode-toggle-target="toggle" data-value="dark">
            Dark
            <%= inline_icon "check", class: "hidden", size: 24 %>
          </a>
          <a data-dark-mode-toggle-target="toggle" data-value="light">
            Light
            <%= inline_icon "check", class: "hidden", size: 24 %>
          </a>
        </div>
      </div>
    <% end %>
    <% if signed_in? %>
      <a
        href="https://changelog.hcb.hackclub.com"
        target="_blank"
        class="ml2 relative muted pointer tooltipped tooltipped--s"
        aria-label="See what’s new with HCB"
        id="changelog-icon">
        <%= inline_icon "rep", size: home_action_size %>
      </a>
    <% end %>
  </div>

  <%= render partial: "logo" %>

  <div class="header-right line-height-0 flex items-center gap-3.5">
    <% if signed_in? %>
      <%= link_to my_inbox_path,
                  class: "muted tooltipped tooltipped--s",
                  'aria-label': "View transactions awaiting receipts" do %>
        <%= inline_icon "payment-docs", size: home_action_size %>
      <% end if @event %>
      <% if @event && signed_in? %>
        <%= link_to "javascript:void(0)", class: "mited tooltipped tooltipped--s -mr-1", 'aria-label': "Jump to (⌘ + K)", id: "command_bar_trigger" do %>
          <%= inline_icon "search" %>
        <% end %>
      <% end %>
      <%= button_to logout_users_path,
                    method: :delete,
                    class: "muted tooltipped tooltipped--s",
                    'aria-label': "Sign out" do %>
        <%= inline_icon "door-leave", size: home_action_size %>
      <% end %>
    <% else %>
      <%= link_to auth_users_path,
                  class: "muted tooltipped tooltipped--s",
                  'aria-label': "Sign in" do %>
        <%= inline_icon "door-enter", size: home_action_size %>
      <% end unless request.path.include?("auth") %>
    <% end %>
  </div>

  <%= render "application/command_bar" %>

</header>
