<div data-controller="menu" data-menu-placement-value="top-end">
  <button
    data-action="menu#toggle click@document->menu#close keydown@document->menu#keydown"
    data-menu-target="toggle"
    type="button"
    class="pop w-8 h-8 bg-transparent cursor-pointer muted tooltipped tooltipped--n -mr-2 sm:mr-0"
    aria-label="Need help?"
    style="box-shadow: none"
    data-action="class#toggle focus#focus">
    <%= inline_icon "question-mark", size: 18 %>
  </button>
  <div data-menu-target="content" class="menu__content menu__content--2 menu__content--compact" style="padding: 0.5rem;z-index:999">
    <a href="mailto:hcb@hackclub.com" target="_blank">
      <%= inline_icon "email", size: 24 %> Email us: hcb@hackclub.com
    </a>
    <a href="tel:1-844-237-2290">
      <%= inline_icon "phone", size: 24 %> Call us: +1 (844) 237-2290
    </a>
    <hr>
    <a href="https://help.hcb.hackclub.com/" target="_blank">
      <%= inline_icon "docs", size: 24 %> Help Center
    </a>
    <a href="<%= branding_path %>" target="_blank">
      <%= inline_icon "bank-account", size: 24 %> Brand guidelines
    </a>
    <a href="<%= docs_api_index_path %>" target="_blank">
      <%= inline_icon "code", size: 24 %> API docs
    </a>
  </div>
</div>
