<% if signed_in? %>
  <div data-controller="menu" data-menu-placement-value="top-end">
    <% routing = begin
         Rails.application.routes.recognize_path(request.original_fullpath, method: request.env["REQUEST_METHOD"])
       rescue
         {}
       end %>

    <% url_params = {
         url: "#{request.base_url}#{request.original_fullpath}",
         location: "#{routing[:controller]}##{routing[:action]} #{routing[:id]}".strip,
         user_id: current_user&.id
       } %>

    <button
      type="button"
      class="pop w-8 h-8 bg-transparent cursor-pointer muted tooltipped tooltipped--n -mr-2 sm:mr-0"
      style="z-index: 11; box-shadow: none;" aria-label="Get help"
      onclick="window.Beacon && (window.Beacon('identify', { name: <%= current_user&.name.to_json %>, email: <%= current_user&.email.to_json %> }), window.Beacon('session-data', { url: <%= url_params[:url].to_json %>, location: <%= url_params[:location].to_json %>, user_id: <%= url_params[:user_id].to_json %> }), window.Beacon('toggle'))">
      <%= inline_icon "question-mark", size: 18 %>
    </button>
  </div>
<% end %>
