<% title "My feed" %>
<% page_md %>
<%= render "users/nav", selected: :feed %>
<%= render "my/following_modal", event_follows: @event_follows %>

<h1 class="heading flex items-center">
  <span class="flex-grow">Feed</span>
  <%= link_to my_feed_path, class: "btn bg-blue flex", data: { behavior: "modal_trigger", modal: "edit_following" } do %>
    <%= inline_icon "settings" %>
    Manage
  <% end %>
</h1>

<div class="flex flex-col gap-2">
  <% @announcements.each do |announcement| %>
    <%= render partial: "announcements/announcement_card", locals: { announcement:, show_event: true } %>
  <% end %>
</div>

<%= paginate @announcements %>
